---
layout: default
navbar: training
---

{% include navbar.html %}

<section class="container">
  <article>
    <h1>Training</h1>

    <p>We offer a wide variety of Scala training courses and workshops, covering everything from fundamentals and best practices to advanced software arhitectures. Browse our <a href="/courses">course directory</a> for more information on what we have on offer.</p>

    <p>Many of our shorter courses are designed to work together in packages. We also routinely custom workshops to suit individual customers' needs. By combining the correct elements, we can create the perfect syllabus for your developers. Fill out an <a href="/enquiries.html">enquiry form</a> to see what we can offer your organisation.</p>

    <p>We believe that learning should never stop. <strong>All of our face-to-face training courses come with free ongoing access to our online training material.</strong></p>

    <div class="row">
      <div class="col-lg-8  col-lg-offset-2
                  col-md-10 col-md-offset-1">
        <table class="table training-directory">
          <thead>
            <tr>
              <th class="col-icon"></th>
              <th class="col-title"></th>
              <th class="col-icon text-center">Video</th>
              <th class="col-icon text-center">Book</th>
              <th class="col-icon text-center">Taught</th>
            </tr>
          </thead>

          <tbody>
            <tr data-course-url="essential-scala.html">
              <td><span class="icon icon-left icon-scala"></span></td>
              <td><h2>Essential Scala</h2></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-scala.html"><span class="glyphicon glyphicon-ok"></span></td>
              <td class="text-center"><a href="essential-scala.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-java8.html">
              <td><span class="icon icon-left icon-java"></span></td>
              <td><h2>Essential Java 8</h2></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-java8.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-play.html">
              <td><span class="icon icon-left icon-play"></span></td>
              <td><h2>Essential Play</h2></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-play.html"><span class="glyphicon glyphicon-ok"></span></td>
              <td class="text-center"><a href="essential-play.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-lift.html">
              <td><span class="icon icon-left icon-lift"></span></td>
              <td><h2>Essential Lift</h2></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-lift.html"><span class="glyphicon glyphicon-ok"></span></a></td>
              <td class="text-center"><a href="essential-lift.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-scalaz.html">
              <td><span class="icon icon-left icon-scalaz"></span></td>
              <td><h2>Essential Scalaz</h2></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-scalaz.html"><span class="glyphicon glyphicon-ok"></span></a></td>
              <td class="text-center"><a href="essential-scalaz.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-shapeless.html">
              <td><span class="icon icon-left icon-shapeless"></span></td>
              <td><h2>Essential Shapeless</h2></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-shapeless.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-distributed-systems.html">
              <td><span class="icon icon-left icon-distributed"></span></td>
              <td><h2>Essential Distributed Systems</h2></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"><a href="essential-distributed-systems.html"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>

            <tr data-course-url="essential-macros.html">
              <td><span class="icon icon-left icon-macro"></span></td>
              <td><h2>Essential Scala Macros</h2></td>
              <td class="text-center"><a href="essential-macros.html"><span class="glyphicon glyphicon-ok"></span></a></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p>Are we missing something from the list above? Let us know! Get in touch if you would like to see new online or face-to-face training content!</p>

    <p class="text-center">
      <a class="btn btn-primary" href="/contact.html?subject=New%20course%20suggestion">Suggest new course content</a>
    </p>
  </article>
</section>

{% include footer.html %}