---
layout: default
navbar: training
---

{% include navbar.html %}

{% include hero.html title="Training" %}

<section class="container">
  <article class="row">
    <div class="col-sm-4">
      <h2>Books</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="col-sm-4">
      <h2>Videos</h2>

      <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>

    <div class="col-sm-4">
      <h2>On-Site</h2>

      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>
</section>

<section class="container training-course-directory">
  <article>
    <h2>Course Directory</h2>

    <div class="row">
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-scala %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-java8 %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-play %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-lift %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-scalaz %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-shapeless %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-distributed-systems %}</div>
      <div class="col-sm-4">{% include training/excerpt.html course=site.data.courses.essential-macros %}</div>
      <div class="col-sm-4">
        <div class="suggest-course">
          <p class="text-center">
            Something missing?
          </p>

          <p class="text-center">
            <a class="btn btn-primary btn" href="/contact.html?subject=New%20course%20suggestion">
              Suggest a course
              <span class="fa fa-chevron-right"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </article>
</section>

{% include footer.html %}