<div class="panel panel-gray training-book {{ include.id }}">
  <div class="panel-heading">
    <h4>Get the Book</h4>
  </div>

  <div class="panel-body">
    {% if include.cover %}
      <img src="{{ include.cover }}"
           class="training-book-cover"
           alt="{{ include.title }}">
    {% endif %}

    {% for button in include.buttons %}
      <p>
        <a class="btn btn-primary btn-block"
            href="{{ button.url }}">
          {{ button.label | liquify }}
        </a>
      </p>
    {% endfor %}
  </div>

</div>

{% if include.signup %}
  <div>
    <div>
      <h4>Book Updates</h4>
      <p>
        Stay up-to-date with new editions of the book, 
        straight to your inbox.
      </p>
    </div>
    
    <div>
      {% include {{ include.signup }} %}
    </div>
  </div>
{% endif %}

