<div class="Document_Name">
<p>Privacy and cookies policy</p>
</div>
<div class="Level_1 Heading">
<p>1. Introduction</p>
</div>
<div class="Level_2 Number">
<p>1.1 This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.</p>
</div>
<div class="Level_2 Number">
<p>1.2 In this policy, &quot;we&quot;, &quot;us&quot; and &quot;our&quot; refer to Underscore Consulting LLP. For more information about us, see Section 14.</p>
</div>
<div class="Level_1 Heading">
<p>2. How we use your personal data</p>
</div>
<div class="Level_2 Number">
<p>2.1 In this Section 2 we have set out:</p>
</div>
<div class="Level_3 Number">
<p>(a) the general categories of personal data that we may process;</p>
</div>
<div class="Level_3 Number">
<p>(b) the purposes for which we may process personal data; and</p>
</div>
<div class="Level_3 Number">
<p>(c) the legal bases of the processing.</p>
</div>
<div class="Level_2 Number">
<p>2.2 We may process data about your use of our website and services (&quot;<strong>usage data</strong>&quot;). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is our legitimate interests, namely monitoring and improving our website and services.</p>
</div>
<div class="Level_2 Number">
<p>2.3 We may process information that you post for publication on our website or through our services (&quot;<strong>publication data</strong>&quot;). The publication data may be processed for the purposes of enabling such publication and administering our website and services. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
</div>
<div class="Level_2 Number">
<p>2.4 We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (&quot;<strong>notification data</strong>&quot;). The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters. The legal basis for this processing is consent.</p>
</div>
<div class="Level_2 Number">
<p>2.5 We may process information contained in or relating to any communication that you send to us (&quot;<strong>correspondence data</strong>&quot;). The correspondence data may include the communication content and metadata associated with the communication. The correspondence data may be processed for the purposes of communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business and communications with users.</p>
</div>
<div class="Level_2 Number">
<p>2.6 We may process any of your personal data identified in this policy where necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure. The legal basis for this processing is our legitimate interests, namely the protection and assertion of our legal rights, your legal rights and the legal rights of others.</p>
</div>
<div class="Level_2 Number">
<p>2.7 We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice. The legal basis for this processing is our legitimate interests, namely the proper protection of our business against risks.</p>
</div>
<div class="Level_2 Number">
<p>2.8 In addition to the specific purposes for which we may process your personal data set out in this Section 2, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
</div>
<div class="Level_2 Number">
<p>2.9 Please do not supply any other person's personal data to us, unless we prompt you to do so.</p>
</div>
<div class="Level_1 Heading">
<p>3. Providing your personal data to others</p>
</div>
<div class="Level_2 Number">
<p>3.1 We may disclose your personal data to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes, and on the legal bases, set out in this policy.</p>
</div>
<div class="Level_2 Number">
<p>3.2 In addition to the specific disclosures of personal data set out in this Section 3, we may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person. We may also disclose your personal data where such disclosure is necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.</p>
</div>
<div class="Level_1 Heading">
<p>4. International transfers of your personal data</p>
</div>
<div class="Level_2 Number">
<p>4.1 In this Section 4, we provide information about the circumstances in which your personal data may be transferred to countries outside the European Economic Area (EEA).</p>
</div>
<div class="Level_2 Number">
<p>4.2 We and our other group companies have offices and facilities in the UK, USA, and Australia. Transfers to each of these countries will be protected by appropriate safeguards, namely our self-assessed their adequacy.</p>
</div>
<div class="Level_2 Number">
<p>4.3 The hosting facilities for our website are situated in UK, Ireland, USA. The European Commission has made an &quot;adequacy decision&quot; with respect to the data protection laws of each of these countries.</p>
</div>
<div class="Level_2 Number">
<p>4.4 You acknowledge that personal data that you submit for publication through our website or services may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such personal data by others.</p>
</div>
<div class="Level_1 Heading">
<p>5. Retaining and deleting personal data</p>
</div>
<div class="Level_2 Number">
<p>5.1 This Section 5 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal data.</p>
</div>
<div class="Level_2 Number">
<p>5.2 Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
</div>
<div class="Level_2 Number">
<p>5.3 We will retain your personal data as follows:</p>
</div>
<div class="Level_3 Number">
<p>(a) your contact details will be retained for a minimum period of 1 year following your submission of details, and for a maximum period of 3 months following your request to have the personal data remove.</p>
</div>
<div class="Level_2 Number">
<p>5.4 In some cases it is not possible for us to specify in advance the periods for which your personal data will be retained. In such cases, we will determine the period of retention based on the following criteria:</p>
</div>
<div class="Level_3 Number">
<p>(a) the period of retention of mailing list subscription will be determined based on your choice to unsubscribe; and</p>
</div>
<div class="Level_3 Number">
<p>(b) the period of retention of comments will be determined based on your choice to remove them.</p>
</div>
<div class="Level_2 Number">
<p>5.5 Notwithstanding the other provisions of this Section 5, we may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
</div>
<div class="Level_1 Heading">
<p>6. Security of personal data</p>
</div>
<div class="Level_2 Number">
<p>6.1 We will take appropriate technical and organisational precautions to secure your personal data and to prevent the loss, misuse or alteration of your personal data.</p>
</div>
<div class="Level_2 Number">
<p>6.2 We will store all your personal data on secure servers, personal computers and mobile devices, and in secure manual record-keeping systems.</p>
</div>
<div class="Level_2 Number">
<p>6.3 The following personal data will be stored by us in encrypted form: your name and contact information.</p>
</div>
<div class="Level_2 Number">
<p>6.4 Data that is sent from your web browser to our web server, or from our web server to your web browser, will be protected using encryption technology.</p>
</div>
<div class="Level_2 Number">
<p>6.5 You acknowledge that the transmission of unencrypted (or inadequately encrypted) data over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
</div>
<div class="Level_1 Heading">
<p>7. Amendments</p>
</div>
<div class="Level_2 Number">
<p>7.1 We may update this policy from time to time by publishing a new version on our website.</p>
</div>
<div class="Level_2 Number">
<p>7.2 You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
</div>
<div class="Level_2 Number">
<p>7.3 We may notify you of changes to this policy by email or through the private messaging system on our website.</p>
</div>
<div class="Level_1 Heading">
<p>8. Your rights</p>
</div>
<div class="Level_2 Number">
<p>8.1 In this Section 8, we have summarised the rights that you have under data protection law. Some of the rights are complex, and not all of the details have been included in our summaries. Accordingly, you should read the relevant laws and guidance from the regulatory authorities for a full explanation of these rights.</p>
</div>
<div class="Level_2 Number">
<p>8.2 Your principal rights under data protection law are:</p>
</div>
<div class="Level_3 Number">
<p>(a) the right to access;</p>
</div>
<div class="Level_3 Number">
<p>(b) the right to rectification;</p>
</div>
<div class="Level_3 Number">
<p>(c) the right to erasure;</p>
</div>
<div class="Level_3 Number">
<p>(d) the right to restrict processing;</p>
</div>
<div class="Level_3 Number">
<p>(e) the right to object to processing;</p>
</div>
<div class="Level_3 Number">
<p>(f) the right to data portability;</p>
</div>
<div class="Level_3 Number">
<p>(g) the right to complain to a supervisory authority; and</p>
</div>
<div class="Level_3 Number">
<p>(h) the right to withdraw consent.</p>
</div>
<div class="Level_2 Number">
<p>8.3 You have the right to confirmation as to whether or not we process your personal data and, where we do, access to the personal data, together with certain additional information. That additional information includes details of the purposes of the processing, the categories of personal data concerned and the recipients of the personal data. Providing the rights and freedoms of others are not affected, we will supply to you a copy of your personal data. The first copy will be provided free of charge, but additional copies may be subject to a reasonable fee.</p>
</div>
<div class="Level_2 Number">
<p>8.4 You have the right to have any inaccurate personal data about you rectified and, taking into account the purposes of the processing, to have any incomplete personal data about you completed.</p>
</div>
<div class="Level_2 Number">
<p>8.5 In some circumstances you have the right to the erasure of your personal data without undue delay. Those circumstances include: the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed; you withdraw consent to consent-based processing; you object to the processing under certain rules of applicable data protection law; the processing is for direct marketing purposes; and the personal data have been unlawfully processed. However, there are exclusions of the right to erasure. The general exclusions include where processing is necessary: for exercising the right of freedom of expression and information; for compliance with a legal obligation; or for the establishment, exercise or defence of legal claims.</p>
</div>
<div class="Level_2 Number">
<p>8.6 In some circumstances you have the right to restrict the processing of your personal data. Those circumstances are: you contest the accuracy of the personal data; processing is unlawful but you oppose erasure; we no longer need the personal data for the purposes of our processing, but you require personal data for the establishment, exercise or defence of legal claims; and you have objected to processing, pending the verification of that objection. Where processing has been restricted on this basis, we may continue to store your personal data. However, we will only otherwise process it: with your consent; for the establishment, exercise or defence of legal claims; for the protection of the rights of another natural or legal person; or for reasons of important public interest.</p>
</div>
<div class="Level_2 Number">
<p>8.7 You have the right to object to our processing of your personal data on grounds relating to your particular situation, but only to the extent that the legal basis for the processing is that the processing is necessary for: the performance of a task carried out in the public interest or in the exercise of any official authority vested in us; or the purposes of the legitimate interests pursued by us or by a third party. If you make such an objection, we will cease to process the personal information unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing is for the establishment, exercise or defence of legal claims.</p>
</div>
<div class="Level_2 Number">
<p>8.8 To the extent that the legal basis for our processing of your personal data is:</p>
</div>
<div class="Level_3 Number">
<p>(a) consent; or</p>
</div>
<div class="Level_3 Number">
<p>(b) that the processing is necessary for the performance of a contract to which you are party or in order to take steps at your request prior to entering into a contract,</p>
</div>
<div class="Level_2 Number">
<p>and such processing is carried out by automated means, you have the right to receive your personal data from us in a structured, commonly used and machine-readable format. However, this right does not apply where it would adversely affect the rights and freedoms of others.</p>
</div>
<div class="Level_2 Number">
<p>8.9 If you consider that our processing of your personal information infringes data protection laws, you have a legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so in the EU member state of your habitual residence, your place of work or the place of the alleged infringement.</p>
</div>
<div class="Level_2 Number">
<p>8.10 To the extent that the legal basis for our processing of your personal information is consent, you have the right to withdraw that consent at any time. Withdrawal will not affect the lawfulness of processing before the withdrawal.</p>
</div>
<div class="Level_2 Number">
<p>8.11 You may exercise any of your rights in relation to your personal data by written notice to us.</p>
</div>
<div class="Level_1 Heading">
<p>9. Third party websites</p>
</div>
<div class="Level_2 Number">
<p>9.1 Our website includes hyperlinks to, and details of, third party websites.</p>
</div>
<div class="Level_2 Number">
<p>9.2 We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>
</div>
<div class="Level_1 Heading">
<p>10. Updating information</p>
</div>
<div class="Level_2 Number">
<p>10.1 Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>
</div>
<div class="Level_1 Heading">
<p>11. About cookies</p>
</div>
<div class="Level_2 Number">
<p>11.1 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
</div>
<div class="Level_1 Heading">
<p>12. Cookies that we use</p>
</div>
<div class="Level_2 Number">
<p>12.1 We use cookies for the following purposes:</p>
</div>
<div class="Level_3 Number">
<p>(a) personalisation - we use cookies to store information about your preferences and to personalise our website for you; and</p>
</div>
<div class="Level_3 Number">
<p>(b) analysis - we use cookies to help us to analyse the use and performance of our website and services.</p>
</div>
<div class="Level_1 Heading">
<p>13. Managing cookies</p>
</div>
<div class="Level_2 Number">
<p>13.1 Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:</p>
</div>
<div class="Level_3 Number">
<p>(a) <a href="https://support.google.com/chrome/answer/95647?hl=en"><span_class="underline">https://support.google.com/chrome/answer/95647?hl=en</span></a> (Chrome);</p>
</div>
<div class="Level_3 Number">
<p>(b) <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"><span_class="underline">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</span></a> (Firefox);</p>
</div>
<div class="Level_3 Number">
<p>(c) <a href="http://www.opera.com/help/tutorials/security/cookies/"><span_class="underline">http://www.opera.com/help/tutorials/security/cookies/</span></a> (Opera);</p>
</div>
<div class="Level_3 Number">
<p>(d) <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies"><span_class="underline">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</span></a> (Internet Explorer);</p>
</div>
<div class="Level_3 Number">
<p>(e) <a href="https://support.apple.com/kb/PH21411"><span_class="underline">https://support.apple.com/kb/PH21411</span></a> (Safari); and</p>
</div>
<div class="Level_3 Number">
<p>(f) <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy"><span_class="underline">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</span></a> (Edge).</p>
</div>
<div class="Level_2 Number">
<p>13.2 Blocking all cookies will have a negative impact upon the usability of many websites.</p>
</div>
<div class="Level_2 Number">
<p>13.3 If you block cookies, you will not be able to use all the features on our website.</p>
</div>
<div class="Level_1 Heading">
<p>14. Our details</p>
</div>
<div class="Level_2 Number">
<p>14.1 This website is owned and operated by Underscore Consulting LLP.</p>
</div>
<div class="Level_2 Number">
<p>14.2 We are registered in England and Wales under registration number OC371810, and our registered office is at C/O Ozkan Accountants Ltd 2nd Floor, Suite 12, Vantage Point, New England Road, Brighton, England, BN1 4GW .</p>
</div>
<div class="Level_2 Number">
<p>14.3 Our principal place of business is at The Skiff, 30 Cheapside, Brighton BN1 4GD.</p>
</div>
<div class="Level_2 Number">
<p>14.4 You can contact us:</p>
</div>
<div class="Level_3 Number">
<p>(a) by post, to the postal address given above;</p>
</div>
<div class="Level_3 Number">
<p>(b) using our website contact form;</p>
</div>
<div class="Level_3 Number">
<p>(c) by telephone, on the contact number published on our website from time to time; or</p>
</div>
<div class="Level_3 Number">
<p>(d) by email, using the email address published on our website from time to time.</p>
</div>
<div class="Level_1 Heading">
<p>15. Data protection officer</p>
</div>
<div class="Level_2 Number">
<p>15.1 Our data protection officer's contact details are: hello@underscore.io.</p>
</div>
