<div class="Document_Name">
<p>Privacy and cookies policy</p>
</div>
<div class="Level_1 Heading">
<p>1. Introduction</p>
</div>
<div class="Level_2 Number">
<p>1.1 This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.</p>
</div>
<div class="Level_2 Number">
<p>1.2 In this policy, &quot;we&quot;, &quot;us&quot; and &quot;our&quot; refer to Underscore Consulting LLP. For more information about us, see Section 14.</p>
</div>
<div class="Level_1 Heading">
<p>2. How we use your personal data</p>
</div>
<div class="Level_2 Number">
<p>2.1 In this Section 2 we have set out:</p>
</div>
<div class="Level_3 Number">
<p>(a) the general categories of personal data that we may process;</p>
</div>
<div class="Level_3 Number">
<p>(b) the purposes for which we may process personal data; and</p>
</div>
<div class="Level_3 Number">
<p>(c) the legal bases of the processing.</p>
</div>
<div class="Level_2 Number">
<p>2.2 We may process data about your use of our website and services (&quot;<strong>usage data</strong>&quot;). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is our legitimate interests, namely monitoring and improving our website and services.</p>
</div>
<div class="Level_2 Number">
<p>2.3 We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (&quot;<strong>notification data</strong>&quot;). The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters. The legal basis for this processing is consent.</p>
</div>
<div class="Level_2 Number">
<p>2.4 We may process information contained in or relating to any communication that you send to us (&quot;<strong>correspondence data</strong>&quot;). The correspondence data may include the communication content and metadata associated with the communication. The correspondence data may be processed for the purposes of communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business and communications with users.</p>
</div>
<div class="Level_2 Number">
<p>2.5 We may process any of your personal data identified in this policy where necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure. The legal basis for this processing is our legitimate interests, namely the protection and assertion of our legal rights, your legal rights and the legal rights of others.</p>
</div>
<div class="Level_2 Number">
<p>2.6 We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice. The legal basis for this processing is our legitimate interests, namely the proper protection of our business against risks.</p>
</div>
<div class="Level_2 Number">
<p>2.7 In addition to the specific purposes for which we may process your personal data set out in this Section 2, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
</div>
<div class="Level_2 Number">
<p>2.8 Please do not supply any other person's personal data to us, unless we prompt you to do so.</p>
</div>
<div class="Level_1 Heading">
<p>3. Providing your personal data to others</p>
</div>
<div class="Level_2 Number">
<p>3.1 We may disclose your personal data to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes, and on the legal bases, set out in this policy.</p>
</div>
<div class="Level_2 Number">
<p>3.2 Financial transactions relating to book sales and public training courses may be handled by our payment services providers, Gumroad Inc and Eventbrite. We will share transaction data with our payment services providers only to the extent necessary for the purposes of processing your payments, refunding such payments and dealing with complaints and queries relating to such payments and refunds. You can find information about the payment services providers' privacy policies and practices at <a href="https://gumroad.com/privacy"><span_class="underline">https://gumroad.com/privacy</span></a>_and <a href="https://www.eventbrite.co.uk/privacypolicy"><span_class="underline">https://www.eventbrite.co.uk/privacypolicy</span></a>.</p>
</div>
<div class="Level_2 Number">
<p>3.3 In addition to the specific disclosures of personal data set out in this Section 3, we may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person. We may also disclose your personal data where such disclosure is necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.</p>
</div>
<div class="Level_1 Heading">
<p>4. International transfers of your personal data</p>
</div>
<div class="Level_2 Number">
<p>4.1 In this Section 4, we provide information about the circumstances in which your personal data may be transferred to countries outside the European Economic Area (EEA).</p>
</div>
<div class="Level_2 Number">
<p>4.2 We and our other group companies have offices and facilities in the UK, USA, and Australia. Transfers to each of these countries will be protected by appropriate safeguards, namely our self-assessment of their adequacy.</p>
</div>
<div class="Level_2 Number">
<p>4.3 The hosting facilities for our website are situated in the UK, Ireland, and USA. The European Commission has made an &quot;adequacy decision&quot; with respect to the data protection laws of each of these countries.</p>
</div>
<div class="Level_2 Number">
<p>4.4 You acknowledge that personal data that you submit for publication through our website or services may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such personal data by others.</p>
</div>
<div class="Level_1 Heading">
<p>5. Retaining and deleting personal data</p>
</div>
<div class="Level_2 Number">
<p>5.1 This Section 5 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal data.</p>
</div>
<div class="Level_2 Number">
<p>5.2 Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
</div>
<div class="Level_2 Number">
<p>5.3 We will retain your personal data as follows:</p>
</div>
<div class="Level_3 Number">
<p>(a) notification data will be retained until you unsubscribe from the relevant newsletter or mailing list;</p>
</div>
<div class="Level_3 Number">
<p>(b) usage data will be retained for a maximum period of 14 months following your site visit; and</p>
</div>
<div class="Level_3 Number">
<p>(c) payment data will be retained and handled by Gumroad Inc and Eventbrite, according to their respective privacy policies. </p>
</div>
<div class="Level_2 Number">
<p>5.4 Notwithstanding the other provisions of this Section 5, we may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
</div>
<div class="Level_1 Heading">
<p>6. Security of personal data</p>
</div>
<div class="Level_2 Number">
<p>6.1 We will take appropriate technical and organisational precautions to secure your personal data and to prevent the loss, misuse or alteration of your personal data.</p>
</div>
<div class="Level_2 Number">
<p>6.2 We will store all your personal data on secure servers, personal computers and mobile devices, and in secure manual record-keeping systems.</p>
</div>
<div class="Level_2 Number">
<p>6.3 Data that is sent from your web browser to our web server, or from our web server to your web browser, will be protected using encryption technology. Look for &quot;https://&quot; at the beginning of the web address in your browser's location bar. </p>
</div>
<div class="Level_2 Number">
<p>6.4 You acknowledge that the transmission of unencrypted (or inadequately encrypted) data over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
</div>
<div class="Level_1 Heading">
<p>7. Amendments</p>
</div>
<div class="Level_2 Number">
<p>7.1 We may update this policy from time to time by publishing a new version on our website.</p>
</div>
<div class="Level_2 Number">
<p>7.2 You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
</div>
<div class="Level_2 Number">
<p>7.3 We may notify you of changes to this policy via our email newsletter.</p>
</div>
<div class="Level_1 Heading">
<p>8. Your rights</p>
</div>
<div class="Level_2 Number">
<p>8.1 You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to:</p>
</div>
<div class="Level_3 Number">
<p>(a) the payment of a fee (currently fixed at GBP 10); and</p>
</div>
<div class="Level_3 Number">
<p>(b) the supply of appropriate evidence of your identity (for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address).</p>
</div>
<div class="Level_2 Number">
<p>8.2 We may withhold personal information that you request to the extent permitted by law.</p>
</div>
<div class="Level_2 Number">
<p>8.3 In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>
</div>
<div class="Level_1 Heading">
<p>9. Third party websites</p>
</div>
<div class="Level_2 Number">
<p>9.1 Our website includes hyperlinks to, and details of, third party websites.</p>
</div>
<div class="Level_2 Number">
<p>9.2 We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>
</div>
<div class="Level_1 Heading">
<p>10. Updating information</p>
</div>
<div class="Level_2 Number">
<p>10.1 Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>
</div>
<div class="Level_1 Heading">
<p>11. About cookies</p>
</div>
<div class="Level_2 Number">
<p>11.1 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
</div>
<div class="Level_1 Heading">
<p>12. Cookies that we use</p>
</div>
<div class="Level_2 Number">
<p>12.1 We use cookies for the following purposes:</p>
</div>
<div class="Level_3 Number">
<p>(a) personalisation - we use cookies to store information about your preferences and to personalise our website for you;</p>
</div>
<div class="Level_3 Number">
<p>(b) analysis - we use cookies to help us to analyse the use and performance of our website and services; and</p>
</div>
<div class="Level_3 Number">
<p>(c) cookie consent - we use cookies to store your preferences in relation to the use of cookies more generally.</p>
</div>
<div class="Level_1 Heading">
<p>13. Managing cookies</p>
</div>
<div class="Level_2 Number">
<p>13.1 Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:</p>
</div>
<div class="Level_3 Number">
<p>(a) <a href="https://support.google.com/chrome/answer/95647?hl=en"><span_class="underline">https://support.google.com/chrome/answer/95647?hl=en</span></a> (Chrome);</p>
</div>
<div class="Level_3 Number">
<p>(b) <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"><span_class="underline">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</span></a> (Firefox);</p>
</div>
<div class="Level_3 Number">
<p>(c) <a href="http://www.opera.com/help/tutorials/security/cookies/"><span_class="underline">http://www.opera.com/help/tutorials/security/cookies/</span></a> (Opera);</p>
</div>
<div class="Level_3 Number">
<p>(d) <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies"><span_class="underline">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</span></a> (Internet Explorer);</p>
</div>
<div class="Level_3 Number">
<p>(e) <a href="https://support.apple.com/kb/PH21411"><span_class="underline">https://support.apple.com/kb/PH21411</span></a> (Safari); and</p>
</div>
<div class="Level_3 Number">
<p>(f) <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy"><span_class="underline">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</span></a> (Edge).</p>
</div>
<div class="Level_2 Number">
<p>13.2 If you block cookies, you will not be able to use all the features on our website.</p>
</div>
<div class="Level_1 Heading">
<p>14. Our details</p>
</div>
<div class="Level_2 Number">
<p>14.1 This website is owned and operated by Underscore Consulting LLP.</p>
</div>
<div class="Level_2 Number">
<p>14.2 We are registered in England and Wales under registration number OC371810, and our registered office is at C/O Ozkan Accountants Ltd 2nd Floor, Suite 12, Vantage Point, New England Road, Brighton, England, BN1 4GW .</p>
</div>
<div class="Level_2 Number">
<p>14.3 Our principal place of business is at The Skiff, 30 Cheapside, Brighton BN1 4GD.</p>
</div>
<div class="Level_2 Number">
<p>14.4 You can contact us:</p>
</div>
<div class="Level_3 Number">
<p>(a) using our website contact form; or</p>
</div>
<div class="Level_3 Number">
<p>(b) by email, using the email address published on our website from time to time.</p>
</div>
<div class="Level_1 Heading">
<p>15. Data protection officer</p>
</div>
<div class="Level_2 Number">
<p>15.1 Our data protection officer's contact details are: Dave Gurnell, hello@underscore.io.</p>
</div>
