---
layout: default
navbar: home
---

<div class="home-hero">
  <div class="home-hero-left-overlay"></div>
  <div class="home-hero-right-overlay"></div>
  <div class="home-hero-arrow-overlay"></div>

  {% include navbar.html inverse="true" %}

  <header class="home-hero-text">
    <h1><img src="/images/home/underscore-logo-white.png" alt="Underscore"></h1>
    <h2>The Scala Specialists</h2>
  </header>
</div>

<section class="home-panel home-training">
  <div class="container">
    <h1 class="home-panel-title">
      Know Your Scala
    </h1>

    <p>Books, videos, taught courses, and mentoring... everything you need to excel.</p>

    <p class="home-panel-cta">
      <a class="btn btn-primary" href="/training">Learn with us</a>
    </p>
  </div>
</section>

<section class="home-panel home-consulting">
  <div class="container">
    <h1 class="home-panel-title">
      Succeed with Scala
    </h1>

    <p>We provide professional services tailored to your business, whatever stage you're at.</p>

    <p class="home-panel-cta">
      <a class="btn btn-primary" href="/consulting">Work with us</a>
    </p>
  </div>
</section>

<section class="home-panel home-blog">
  <div class="container">
    <h1 class="home-panel-title">
      Latest from the Blog
    </h1>

    <div class="row">
      <div class="col-sm-2">
        <a class="home-blog-paddle home-blog-paddle-prev" href="javascript:void 0">
          <span class="home-blog-paddle-label">
            <span class="fa fa-chevron-circle-left"></span>
            <span class="sr-only">Prev</span>
         </span>
        </a>
      </div>
      <div class="col-sm-8 home-blog-posts">
        {% for post in site.posts limit:5 %}
        {% include blog/excerpt.html post=post %}
        {% endfor %}
      </div>
      <div class="col-sm-2">
        <a class="home-blog-paddle home-blog-paddle-next" href="javascript:void 0">
          <span class="home-blog-paddle-label">
            <span class="fa fa-chevron-circle-right"></span>
            <span class="sr-only">Next</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="home-panel home-customers">
  <div class="container">
    <h1 class="home-panel-title">
      Our Customers
    </h1>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
