<div class="panel panel-default">
  <div class="panel-heading">
    Book <em>{{ include.course.title }}</em>
  </div>

  <div class="panel-body">
    <ul class="product-points">
      <li>Taught on-line or on-site at your premises</li>
      <li>Up to 10 developers on-site or 8 on-line</li>
      {% if include.course.media.gumroad.lifetimeUpdates %}
        <li>Free lifetime updates to online material</li>
      {% elsif include.course.media.gumroad %}
        <li>Free access to online material</li>
      {% endif %}
    </ul>

    <p>
      <a class="btn btn-primary btn-block" href="/enquiries.html?course={{ include.course.id }}">Book now</a>
    </p>
  </div>
</div>
