# Redirects from Dave giving out the wrong URL all the time:

Redirect permanent /blog/newsletter/                                   http://underscore.io/blog/newsletters/

# Redirects from Essential Essential Scala to Creative Scala:

Redirect permanent /events/2015-03-15-essential-essential-scala.html   http://underscore.io/events/2015-03-15-creative-scala.html
Redirect permanent /events/2015-03-28-essential-essential-scala.html   http://underscore.io/events/2015-03-28-creative-scala.html

# Redirects from Essential Scalaz and Advanced Scala with Scalaz to Advanced Scala with Cats:

Redirect permanent /books/essential-scalaz                             http://underscore.io/books/advanced-scala
Redirect permanent /books/advanced-scala-scalaz                        http://underscore.io/books/advanced-scala
Redirect permanent /training/courses/essential-scalaz                  http://underscore.io/training/courses/advanced-scala
Redirect permanent /training/courses/advanced-scala-scalaz             http://underscore.io/training/courses/advanced-scala
Redirect permanent /courses/essential-shapeless                        http://underscore.io/training/courses/advanced-shapeless

# Redirects from mis-dated blog posts:

Redirect permanent /blog/posts/2015/03/25/creative-scala-released.html http://underscore.io/blog/posts/2015/02/25/creative-scala-released.html

# Redirects from underscore.io version 1:

Redirect permanent /courses/essential-java8.html                       http://underscore.io/training
Redirect permanent /courses/essential-shapeless.html                   http://underscore.io/training/courses/advanced-shapeless
Redirect permanent /courses/essential-play-sites.html                  http://underscore.io/training/courses/essential-play
Redirect permanent /courses/essential-scalaz.html                      http://underscore.io/training/courses/advanced-scala
Redirect permanent /courses/essential-scala.html                       http://underscore.io/training/courses/essential-scala
Redirect permanent /courses/essential-macros.html                      http://underscore.io/training/courses/essential-macros
Redirect permanent /courses/essential-distributed-systems.html         http://underscore.io/training/courses/essential-distributed-systems
Redirect permanent /courses/essential-lift.html                        http://underscore.io/training/courses/essential-lift
Redirect permanent /courses/essential-play-services.html               http://underscore.io/training/courses/essential-play
Redirect permanent /courses                                            http://underscore.io/training
Redirect permanent /enquiries.html                                     http://underscore.io/training/bookings
Redirect permanent /newsletter.html                                    http://underscore.io/blog/newsletters
Redirect permanent /contact.html                                       http://underscore.io/contact

# Redirects from preview versions of underscore.io version 2:

Redirect permanent /training/booking.html                              http://underscore.io/training/bookings
Redirect permanent /training/booknow                                   http://underscore.io/training/bookings

# Course feedback:

Redirect permanent /training/feedback                                  https://docs.google.com/forms/d/1Vu2EKG6YonpopRYh98Lubky0RKjKKtsCm8m8QwVwx6g/viewform

