body {
  font-weight: 300;
}

code,tt,pre {
  font-size: @font-size-base * .8;
}

a.link-anchor {
  display: block;
  position: relative;
  visibiliy: hidden;
  top: -1.5*@line-height-computed;
}

a.back-link {
  .icon-uio-back {
    visibility: hidden;
    opacity: .8;
  }

  &:hover .icon-uio-back {
    visibility: visible;
  }
}
