footer {
  margin-top: @line-height-computed;
  padding: @line-height-computed 0;

  background: @underscore-blue;
  color: #fff;
  a { color: #fff; }

  h1,h2,h3,h4,h5,h6 {
    color: #fff
  }

  .footer-brand {
    margin: 0;
    width: 200px;
  }

  .sitemap {
    margin: 0 0 @line-height-computed;

    font-size: .9em;

    ul {
      margin: 0;
    }

    h5 {
      margin-top: @line-height-computed;
      a {
        font-weight: bold;
      }
    }

    a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #fff;
      font-weight: 200;
    }
  }

  .copyright {
    margin: 0 0 @line-height-computed;
    font-size: .8em;
    font-weight: 200;
  }
}