<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-2">
    <h3 class="text-center">
      Want to advertise?
    </h3>
    <p class="text-center">
      <a href="https://docs.google.com/forms/d/1zw5sKHCRllYDkGasUBZWRTJnB-PI43NzvExCfwYIoas/viewform" class="btn btn-primary">
        Submit a listing
        {% icon chevron-right %}
      </a>
    </p>
    <p class="text-center">
      We'll handle the rest.
    </p>
  </div>

  <div class="col-sm-6 col-md-4">
    <h3 class="text-center">
      Looking for a Scala job?
    </h3>
    <p class="text-center">
      <a href="/blog/newsletters" class="btn btn-primary">
        Join our newsletter
        {% icon chevron-right %}
      </a>
    </p>
    <p class="text-center">
      Receive new jobs in your email.
    </p>
  </div>
</div>

<br>