---
layout: default
title:  Blog
navbar: blog
twitter:
  title: The Underscore Blog
  description: "Blog posts on Scala and functional programming."
---

{% if paginator.previous_page %}
{% include hero.html title="Blog" backLink="/blog" %}
{% else %}
{% include hero.html title="Blog" %}
{% endif %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="posts">
        {% for post in paginator.posts %}
        {% include blog/excerpt.html post=post %}
        {% endfor %}
      </div>

      {% include blog/pagination.html %}
    </div>

    <div class="col-md-4">
      <aside class="blog-sidebar">
        {% include blog/sidebar/sidebar.html %}
      </aside>
    </div>
  </div>
</section>

{% include footer.html %}
