{% comment %}
  job: {
    location: string
    title: string
    summary: string
    remote: (string or null)
  }
{% endcomment %}

<div class="job-excerpt panel panel-gray" data-job-url="{{ job.url }}">
  <div class="panel-heading" style="background: #30abdf">
    <h3>
      <span class="pull-left">
        <span class="job-title">{{ job.title }}</span>
      </span>
      <span class="pull-right">
        {% if include.job.remote %}
        <span class="job-remote">
          Remote {{ include.job.remote }}
        </span>
        {% endif %}
        {% if include.job.location %}
        <span class="job-location">
        {{ include.job.location }}
        </span>
        {% endif %}
      </span>
    </h3>
  </div>

  <div class="panel-body">
    <dl class="job-meta">
    </dl>

    <p class="job-summary">
      {{ job.summary }}
    </p>

    <a class="job-link" href="{{ job.url }}">
      More information
      <span class="icon-uio-chevron-right"></span>
    </a>
  </div>
</div>
