---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Adopting Scala" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Adopting Scala</h2>

      <p>

      </p>

      <p>

      </p>

      <p>

      </p>

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h3>What is this?</h3>

      <p></p>

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>What You Can Expect</h3>

      <p></p>

      <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      <p></p>

      <p>
        <a href="/contact?subject=Adopting%20Scala" class="btn btn-block btn-primary">
          Enquire Now
          <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}