---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Adopting Scala" %}

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Scala in Just the Right Places</h2>

      <p>
      "Adopting Scala" provides the path to rolling out Scala technologies for your project.
      </p>

      <p>
      As an independent consultancy, Underscore offer experience across the Scala ecosystem.
      This includes core and functional programming libraries, web frameworks,
      database access and analysis products, messaging, deployment, and build systems.
      </p>

      <p>
      We help you identify the right aspects of Scala to fit your goals and team.
      </p>

    </div>

  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>What You Can Expect</h3>

      <p>This service is for CTOs, team leads, and business stakeholders.</p>

      <ul>
        <li>We meet to understand your needs and concerns.</li>
        <li>Working with you, we outline an architecture and technologies.</li>
        <li>Where necessary, we identify areas requiring proof of concept exploration.</li>
        <li>We present the architecture so it can be challenged to ensure it meets the business needs.</li>
        <li>The resulting architecture is documented.</li>
      </ul>

      <p>
        A full architecture process is iterative, but this service is provided as a time-boxed series of activities.
        The process takes four weeks.
      </p>

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      <p>
        The Adopting Scala process costs $15,000 plus travel expenses (if any).
      </p>

      <p>
        <a href="/contact?subject=Adopting%20Scala" class="btn btn-block btn-primary">
          Enquire Now
          <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}