---
layout: default
navbar: blog
---

{% include hero.html title="Blog" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="posts">
        {% for post in paginator.posts %}
        {% include blog/excerpt.html post=post %}
        {% endfor %}
      </div>

      {% include blog/pagination.html %}
    </div>

    <div class="col-md-4">
      <aside class="blog-sidebar">
        {% include blog/newsletter.html %}

        {% include blog/archives.html %}
      </aside>
    </div>
  </div>
</section>

{% include footer.html %}
