---
layout: default
navbar: blog
---

{% include navbar.html %}

<header class="container">
  <h1>Blog</h1>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="posts">
        {% for post in site.posts limit:5 %}
        <section class="post">
          <article>
            <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

            <dl class="meta">
              <dt class="date">Date</dt>
              <dd class="date">
                <span class="day">{{ post.date | date: '%d' }}</span>
                <span class="month">{{ post.date | date: '%b' }}</span>
                <span class="year">{{ post.date | date: '%Y' }}</span>
              </dd>
              <dt class="author">Author</dt>
              <dd class="author">
                {{ post.author }}
              </dd>
              {% if post.sourceUrl %}
              <dt class="source">Source</dt>
              <dd class="source">
                <a href="{{ post.sourceUrl }}">{% if post.sourceSite %}{{ post.sourceSite }}{% else %}{{ post.sourceUrl }}{% endif %}</a>
              </dd>
              {% endif %}
            </dl>

            <div class="content">
              {{ post.excerpt | markdownify }}
              <p><small><a href="{{ post.url }}">Continued&hellip;</a></small></p>
            </div>
          </article>
        </section>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4">
      <div class="sidebar">
        {% include blog/archives.html %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
