{% comment %}
  class: string
  product: {
    type: "gumroad"
    title: string
    url: string
    cover: string
    description: string
    buttonLabel: optional(string)
    comingSoon: boolean
  }
{% endcomment %}

<div class="{{ include.class || "col-sm-6" }} book-product">
  <h4>{{ include.product.title }}</h4>
    {% if product.cover %}
      <img class="book-cover"
        src="{{include.product.cover}}"
        alt="Cover of {{ include.book.title }}">
    {% endif %}
  <div class="book-product-description">
    {{ include.product.description | markdownify }}
  </div>
  <p class="book-product-purchase" style="clear:right;">
    {% if include.product.comingSoon %}
      <a class="btn btn-warning btn-block" href="/contact?subject={{ "Let me know when the " | urlencode }}{{ include.book.title | urlencode }}{{ " book is ready!" | urlencode }}">
        Coming soon
      </a>
    {% else %}
      <a class="btn btn-primary btn-block"
         data-tracking-id="{{ include.book.title }} Gumroad"
         href="{{ include.product.url }}" >
        {% if include.product.buttonLabel %}
          {{ include.product.buttonLabel }}
        {% else %}
          Buy now
        {% endif %}
      </a>
    {% endif %}
  </p>
</div>
