{% comment %}
  class: string
  product: {
    type: string
    title: string
    # rest depends on type...
  }
{% endcomment %}

{% if include.product.type == "gumroad" %}
  {% include books/gumroad.html book=include.book product=include.product class=include.class %}
{% elsif include.product.type == "oreilly" %}
  {% include books/oreilly.html book=include.book product=include.product class=include.class %}
{% elsif include.product.type == "eventbrite" %}
  {% include books/eventbrite.html book=include.book product=include.product class=include.class %}
{% elsif include.product.type == "public" %}
  {% include books/public.html book=include.book product=include.product class=include.class %}
{% elsif include.product.type == "private" %}
  {% include books/private.html book=include.book product=include.product class=include.class %}
{% else %}
  <h4>Unknown product type!</h4>
  <pre>{{ include.product }}</pre>
{% endif %}
