<dl class="blog-post-meta">
  <dt class="blog-post-date">Posted</dt>
  <dd class="blog-post-date">
    <span class="day">{{ include.post.date | date: '%d' }}</span>
    <span class="month">{{ include.post.date | date: '%b' }}</span>
    <span class="year">{{ include.post.date | date: '%Y' }}</span>
  </dd>
  <dt class="blog-post-author">by</dt>
  <dd class="blog-post-author">
    {{ include.post.author }}
  </dd>
  {% if include.post.sourceUrl %}
  <dt class="blog-post-source">Source</dt>
  <dd class="blog-post-source">
    <a href="{{ include.post.sourceUrl }}">{% if include.post.sourceSite %}{{ include.post.sourceSite }}{% else %}{{ include.post.sourceUrl }}{% endif %}</a>
  </dd>
  {% endif %}
</dl>
