<p class="blog-share">
  <!-- Twitter sharing -->

  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-text="{{ include.post.title }}"
     data-url="http://underscore.io{{ include.post.url }}"
     data-hashtags="{{ include.post.hashtags }}"
     data-lang="en"
     data-count="none">Share on Twitter</a>

  <!-- Linkedin sharing -->

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <script type="IN/Share" data-url="http://underscore.io{{ include.post.url }}"></script>

  <!-- Google Plus sharing -->

  <span class="google-plus">
    <span class="g-plus" data-action="share" data-annotation="none"></span>
  </span>

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <!-- Facebook sharing -->

  <span id="fb-root"></span>

  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=176770445727974&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <span class="fb-share-button"
        data-href="http://underscore.io{{ include.post.url }}"
        data-type="button"></span>
</p>
