---
layout: default
title: Events
navbar: events
---

{% include hero.html title="Events" %}

<section class="container event-listing">
  <article>
    {% comment %}
    <h2>Future Events</h2>
    {% endcomment %}

    {% for event in site.events %}
      {% capture nowTime %}{{'now' | date:'%s'}}{% endcapture %}
      {% capture eventTime %}{{ event.date | date:'%s'}}{% endcapture %}

      {% if eventTime > nowTime %}
      {% include events/excerpt.html event=event %}
      {% endif %}
    {% endfor %}
  </article>
</section>

<script>
  uio.eventListing.init(".event-listing")
</script>

{% include footer.html %}
