---
layout: default
title: Events
navbar: events
---

{% include hero.html title="Events" %}

<section class="container event-listing">
  <article>
    {% comment %}
    <h2>Future Events</h2>
    {% endcomment %}

    {% for event in site.events %}
      {% capture nowTime %}{{'now' | with_tz:page.timezone | date:'%s'}}{% endcapture %}
      {% capture eventTime %}{{ event.date | with_tz:page.timezone | date:'%s'}}{% endcapture %}

      {% include events/excerpt.html event=event %}
    {% endfor %}

    <center>
      <h3>Can't find what you're looking for?</h3>
      <p><a href="/contact">Get in touch</a></p>
    </center>
  </article>
</section>

<script>
  uio.eventListing.init(".event-listing")
</script>

{% include footer.html %}
