<div id="mc_embed_signup" class="blog-sidebar-mailchimp panel panel-gray">
  <div class="panel-body">
    <h4>The Underscore Newsletter</h4>

    <p>Keep up to date! Subscribe to our newsletter for the latest Scala news.</p>

    <form method="post"
          action="http://underscoreconsulting.us3.list-manage.com/subscribe/post?u=a62dbb8a9c32f6c994dfd1111&amp;id=e9817b5369"
              id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
           class="validate"
          target="_blank"
      novalidate="">
      <fieldset>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="btn btn-primary" id="mc-embedded-subscribe" type="submit" data-goal="click">Keep me posted</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <p class="text-muted">
      <small>No spam. Unsubscribe at any time. We do not share personal details with third parties.</small>
    </p>

    <p class="text-muted">
      <small><a href="/blog/newsletters">Browse old newsletters to see what you'll get</a></small>
    </p>
  </div>
</div>