<aside class="event-sidebar">
  <div class="event-details panel panel-gray">
    <div class="panel-body">
      <h4>Event Details</h4>

      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd class="event-title">{{ include.event.title }}</dd>

        <dt>Starts</dt>
        <dd class="event-date">
          <span class="day">{{ include.event.date | date: '%d' }}</span>
          <span class="month">{{ include.event.date | date: '%b' }}</span>
          <span class="year">{{ include.event.date | date: '%Y' }}</span> at
          <span class="hour">{{ include.event.date | date: '%H' }}</span>:<!--
          --><span class="minute">{{ include.event.date | date: '%M' }}</span>
        </dd>

        {% if include.event.location %}
        <dt>Location</dt>
        <dd class="event-location">{{ include.event.location }}</dd>
        {% endif %}

        {% if include.event.duration %}
        <dt>Length</dt>
        <dd class="event-duration">{{ include.event.duration }}</dd>
        {% endif %}

        {% if include.event.cost %}
        <dt>Cost</dt>
        <dd class="event-cost">{{ include.event.cost }}</dd>
        {% endif %}

        {% if include.event.summary %}
        <dt>Summary</dt>
        <dd class="event-summary">{{ include.event.summary }}</dd>
        {% endif %}
      </dl>
    </div>
  </div>
</aside>
