<!DOCTYPE html>
<html lang="en" {% if page.id %}id="{{ page.id }}"{% endif %} class="{{ page.navbar }}">
  {% capture level %}{{ page.url | append: 'index.html' | split: '/' | size }}{% endcapture %}
  {% capture relative %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}
  <head>
    <title>{% if page.title %}{{ page.title | strip_tag:'strike' }} - {% endif %}Underscore</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% css screen %}
    {% css print media:"print" %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@underscoreio">
    {% if page.twitter.title %}
      <meta name="twitter:title" content="{{ page.twitter.title | strip_html | escape_once }}">
    {% else %}
      <meta name="twitter:title" content="{{ page.title | strip_html | escape_once }}">
    {% endif %}
    {% if page.twitter.description %}
      <meta name="twitter:description" content="{{ page.twitter.description | strip_html | escape_once }}">
    {% elsif page.summary %}
      <meta name="twitter:description" content="{{ page.summary | strip_html | escape_once }}">
    {% elsif page.description %}
      <meta name="twitter:description" content="{{ page.description | strip_html | escape_once }}">
    {% elsif page.excerpt %}
      <meta name="twitter:description" content="{{ page.excerpt | strip_html | escape_once }}">
    {% else %}
      <meta name="twitter:description" content="Global software development consultancy specialising in Scala and functional programming.">
    {% endif %}
    {% if page.twitter.image %}
      <meta name="twitter:image" content="{{ page.twitter.image | strip_html | escape_once }}">
    {% else %}
      <meta name="twitter:image" content="http://underscore.io/images/twitter-card-icon.png">
    {% endif %}

    <link rel="shortcut icon" href="/images/favicon-64.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed.xml">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% js site %}
  </head>
  <body>
    {{ content }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29444727-2', 'underscore.io');
      ga('send', 'pageview');
    </script>
  </body>
</html>
