---
layout: default
navbar: blog
---

{% include hero.html title="Blog" backLink="/blog" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <section class="blog-post" data-post-url="{{ page.url }}">
        <h2 class="blog-post-title">{{ page.title }}</h2>

        {% include blog/meta.html post=page %}

        <article class="blog-post-content">
          {{ content }}
        </article>

        <hr>

        {% if site.jobs %}
          {% include blog/jobcta.html %}
        {% else %}
          If you like what you're reading you should <a href="/blog/newsletters">subscribe to our newsletter</a>. It's made from 100% recycled electrons and guaranteed spam free.
        {% endif %}

        <hr>

        {% include blog/comments.html post=page %}
      </section>
    </div>

    <div class="col-md-4">
      <aside class="blog-sidebar">
        {% include blog/sidebar/sidebar.html %}
      </aside>
    </div>
  </div>
</section>

{% include footer.html %}
