---
layout: default
title:  Books
navbar: training
twitter:
  title: Underscore Books
  description: "A directory of Underscore's books on Scala."
---

{% include hero.html title="Books" lead="" %}

<section>
  <div class="container">
    <p class="lead">
      Team and diversity discounts are also available.
    </p>

    <div class="row training-directory">
      {% include training/directory.html ids=site.data.books items=site.books %}
    </div>
  </div>
</section>

<script>
  uio.trainingDirectory.init(".training-directory")
</script>

<!-- Add something here about what our books include, formats, lifetime updates. -->
{% include footer.html %}
