---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Consulting" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>We're with you every step of the way</h2>

      <p>Companies of all sizes adopt Scala every day. As with any new technology, there are unknowns. Even experienced Scala developers have gaps in their experience.</p>

      <p>No matter where you are in your journey, we can help. We offer guidance, assurance, mentoring, support, and hands-on development when you need it.</p>

      <p>Get in touch to to work with us. Tell us about your project and see how we can help.</p>

      <div class="row">
        <div class="
          col-sm-5 col-sm-offset-1
          col-md-5 col-md-offset-1
          col-lg-4 col-lg-offset-2
        ">
          <p>
            <a href="tel:+442030955332" class="btn btn-block btn-primary">
              <span class="icon-uio-phone"></span>
              +44 (0)20 309 55332
            </a>
          </p>
        </div>
        <div class="
          col-sm-5
          col-md-5
          col-lg-4
        ">
          <p>
            <a href="mailto:hello@underscore.io" class="btn btn-block btn-primary">
              <span class="icon-uio-envelope"></span>
              hello@underscore.io
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>Where are you in your project?</h2>

      <ul>
        <li><a href="#investigation">Investigation</a></li>
        <li><a href="#startingout">Starting out</a></li>
        <li><a href="#delivering">Delivering</a></li>
        <li><a href="#scalingup">Scaling up</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="container consulting-step">
  <div class="row">
    <div class="
      col-lg-5 col-lg-offset-1
      col-md-5 col-md-offset-1
      col-sm-6 col-sm-offset-0
      col-xs-8 col-xs-offset-2
    ">
      <img src="/images/consulting/telescope.png" alt="Telescope">
    </div>
    <div class="
      col-lg-5  col-lg-offset-0
      col-md-5  col-md-offset-0
      col-sm-6  col-sm-offset-0
      col-xs-12 col-xs-offset-0
    ">
      <a class="link-anchor" name="investigation"></a>
      <h2>Step 1. Investigation</h2>

      <p>You are starting a new project, or looking to incorporate Scala into your business. You need to make choices now that will provide a fast path to launch and a solid foundation for the future.</p>

      <p class="consulting-step-services-title">We'll help you</p>

      <ul class="consulting-step-services">
        <li>Make the <strong>best choices</strong> for your project</li>
        <li>Show you how to integrate Scala with your <strong>existing infrastructure</strong></li>
        <li>Work with you to <strong>develop your architecture</strong></li>
      </ul>
    </div>
  </div>
</section>

<section class="container consulting-step">
  <div class="row">
    <div class="
      col-lg-5  col-lg-offset-1
      col-md-5  col-md-offset-1
      col-sm-6  col-sm-offset-0
      col-xs-12 col-xs-offset-0
    ">
      <a class="link-anchor" name="startingout"></a>
      <h2>Step 2. Starting Out</h2>

      <p>You have your development plan, and are starting to build. You want your team to get up-to-speed and work efficiently producing quality idiomatic Scala. It's time to get iterating!</p>

      <p class="consulting-step-services-title">We'll help you</p>

      <ul class="consulting-step-services">
        <li><strong>Bootstrap your team</strong> with training and proof-of-concept delivery</li>
        <li>Provide <strong>ongoing support and mentoring</strong></li>
        <li>Work with your team leads to <strong>establish best practices</strong></li>
      </ul>
    </div>
    <div class="
      col-lg-5 col-lg-offset-0
      col-md-5 col-md-offset-0
      col-sm-6 col-sm-offset-0
      col-xs-8 col-xs-offset-2
    ">
      <img src="/images/consulting/blueprint.png" alt="Blueprint">
    </div>
  </div>
</section>

<section class="consulting-testimonial">
  <div class="hero-left-overlay-white"></div>
  <div class="hero-right-overlay-white"></div>

  <div class="container">
    <div class="row">
      <div class="
        col-sm-8 col-sm-offset-2
      ">
        <blockquote>
          We thoroughly recommend Underscore as a software development partner for mission critical application development.
        </blockquote>

        <p class="attribution">
          Matthew Evans, Queen Mary University of London
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container consulting-step">
  <div class="row">
    <div class="
      col-lg-5  col-lg-offset-1
      col-md-5  col-md-offset-1
      col-sm-6  col-sm-offset-0
      col-xs-12 col-xs-offset-0
    ">
      <a class="link-anchor" name="delivering"></a>
      <h2>Step 3. Delivering</h2>

      <p>You are in full production, delivering regular milestones. You want to ensure you are producing maintainable code that makes the best use of Scala. You want to move quickly without sacrificing quality.</p>

      <p class="consulting-step-services-title">We'll help you</p>

      <ul class="consulting-step-services">
        <li><strong>Review the code</strong> you are producing</li>
        <li><strong>Mentor your team</strong> to help them move faster</li>
        <li><strong>Pair with your developers</strong> to share our experience</li>
      </ul>
    </div>
    <div class="
      col-lg-5 col-lg-offset-0
      col-md-5 col-md-offset-0
      col-sm-6 col-sm-offset-0
      col-xs-8 col-xs-offset-2
    ">
      <img src="/images/consulting/rocket.png" alt="Rocket ship">
    </div>
  </div>
</section>

<section class="container consulting-step">
  <div class="row">
    <div class="
      col-lg-5 col-lg-offset-1
      col-md-5 col-md-offset-1
      col-sm-6 col-sm-offset-0
      col-xs-8 col-xs-offset-2
    ">
      <img src="/images/consulting/spaaace.png" alt="Spaaace!">
    </div>
    <div class="
      col-lg-5  col-lg-offset-0
      col-md-5  col-md-offset-0
      col-sm-6  col-sm-offset-0
      col-xs-12 col-xs-offset-0
    ">
      <a class="link-anchor" name="scalingup"></a>
      <h2>Step 4. Scaling Up</h2>

      <p>You are comfortable with Scala development, but want to take advantage of the very best it can offer. You want to help your developer attain true mastery.</p>

      <p class="consulting-step-services-title">We'll help you</p>

      <ul class="consulting-step-services">
        <li>Be advised by some of the <strong>foremost minds in Scala</strong></li>
        <li>Receive ongoing <strong>training and mentoring</strong></li>
        <li>Extract <strong>every last ounce</strong> from your choice of technology</li>
      </ul>
    </div>
  </div>
</section>

{% include footer.html %}
