---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Consulting" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>We're With You Every Step of the Way</h2>

      <p>
        We build software, and help teams that are building software.
        This includes adding experience to your team, supplementing developmet effort,
        and complete product development.
      </p>

      <p>
        In addition to hands-on development, we offer guidance, assurance, mentoring, and support.
        No matter where you are in your journey, we can help.
      </p>
    </div>

    <div class="col-md-4">
      <div class="consulting-contact panel panel-gray">
        <div class="panel-body">
          <h3>Get in Touch</h3>

          <p>
            <a href="tel:+442030955332" class="btn btn-block btn-primary">
              <span class="icon-uio-phone"></span>
              +44 (0)20 309 55332
            </a>
          </p>

          <p>
            <a href="mailto:hello@underscore.io" class="btn btn-block btn-primary">
              <span class="icon-uio-envelope"></span>
              hello@underscore.io
            </a>
          </p>

          <p>
            <a href="#case-studies" class="btn btn-block btn-warning">
              <span class="icon-uio-trophy"></span>
              Browse our case studies
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container consulting-steps">
  <div class="row">
    <div class="col-sm-6 consulting-step">
      <a class="link-anchor" name="investigation"></a>

      <img src="/images/consulting/telescope.png"
         class="consulting-step-logo hidden-xs" data-no-retina
           alt="Evaluating Scala">

      <h2>Evaluating Scala</h2>

      <p>You are starting a new project, or looking to incorporate Scala into your business. You need to make choices now that will provide a fast path to launch and a solid foundation for the future.</p>

      <p><a href="choosing" class="btn btn-plain btn-block">First Steps</a></p>
      <p><a href="adopting" class="btn btn-plain btn-block">Adopting Scala</a></p>
    </div>

    <div class="col-sm-6 consulting-step">
      <img src="/images/consulting/blueprint.png"
         class="consulting-step-logo hidden-xs" data-no-retina
           alt="Starting your project">

      <a class="link-anchor" name="startingout"></a>

      <h2>Starting Your Project</h2>

      <p>You have your development plan, and are starting to build. You want your team to get up-to-speed and work efficiently producing quality idiomatic Scala. It's time to get iterating!</p>

      <p><a href="review" class="btn btn-plain btn-block">Review &amp; Improve</a></p>
      <p><a href="training" class="btn btn-plain btn-block">Training</a></p>
    </div>
  </div>
</section>

<section class="container consulting-steps">
  <div class="row">
    <div class="col-sm-6 consulting-step">
      <img src="/images/consulting/rocket.png"
         class="consulting-step-logo hidden-xs" data-no-retina
           alt="In production">

      <a class="link-anchor" name="delivering"></a>

      <h2>In Production</h2>

      <p>You are in full production, delivering regular milestones. You want to ensure you are producing maintainable code that makes the best use of Scala. You want to move quickly without sacrificing quality.</p>

      <p><a href="review" class="btn btn-plain btn-block">Review &amp; Improve</a></p>
      <p><a href="mentoring" class="btn btn-plain btn-block">Mentoring</a></p>
    </div>

    <div class="col-sm-6 consulting-step">
      <img src="/images/consulting/spaaace.png"
         class="consulting-step-logo hidden-xs" data-no-retina
           alt="Scaling up">

      <a class="link-anchor" name="scalingup"></a>

      <h2>Scaling Up</h2>

      <p>You are comfortable with Scala development, but want to take advantage of the very best it can offer. You want to help your developer attain true mastery.</p>

      <p><a href="mentoring" class="btn btn-plain btn-block">Mentoring</a></p>
      <p><a href="training" class="btn btn-plain btn-block">Advanced Training</a></p>
    </div>
  </div>
</section>

<section class="consulting-testimonial">
  <div class="overlay-gem-left-white"></div>
  <div class="overlay-gem-right-white"></div>
  <div class="overlay-arrow-white"></div>
  <div class="overlay-arrow-white-inverse"></div>

  <div class="container">
    <div class="row">
      <div class="
        col-sm-8 col-sm-offset-2
      ">
        <blockquote>
          We thoroughly recommend Underscore as a software development partner for mission critical application development.
        </blockquote>

        <p class="attribution">
          Matthew Evans, Queen Mary University of London
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <a class="link-anchor" name="case-studies"></a>
  <h1 class="case-studies-title">Case Studies</h1>
</div>

<section class="container case-study-directory">
  <article>

  {% for study in site.data.caseStudies %}
  <hr>

  <div class="row case-study">
    <div class="col-md-7">
      <h3 class="case-study-title">{{ study.title }}</h3>
      {{ study.description }}
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="panel panel-gray">
        <div class="panel-body">
          <img class="case-study-logo" data-no-retina
                 src="{{ study.logo }}"
                 alt="{{ study.title }}">
          <dl>
            <dt>Sector</dt>
              <dd>{{ study.sector }}</dd>
            <dt>Role</dt>
              <dd>{{ study.role }}</dd>
            <dt>Technology</dt>
              <dd>{{ study.tech }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  </article>
</section>

{% include footer.html %}
