---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Choosing Scala" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Choosing Scala</h2>

      <p>
      Careful evaluation of new technology is a vital part of any new project.
      If you are considering adopting Scala, we are happy to provide the benefit
      of our experience working with other customers who have trodden a similar path.
      </p>

      <p>
      Our *Initial Consultation* is a single afternoon spent on-site with your team.
      One of our expert consultants will discuss the benefits of choosing Scala
      and the logistics of your forthcoming technology switch,
      and will help on-board key steakholders within your organisation.
      </p>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h3>What is this?</h3>

      <p>A low-cost single visit to help on-board key stakeholders at your organisation.</p>

      <ul>
        <li>An afternoon discussing best practices for adoption with your team.</li>
        <li>A presentation suitable for board members and senior staff.</li>
        <li>Follow-up via telephone and email.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>What You Can Expect</h3>

      <p></p>

      <ol>
        <li>An afternoon on-site, discussing the benefits of Scala with your team.</li>
        <li>An hour-long Scala adoption pitch suitable for board members or senior staff.</li>
        <li>Follow-up by email or telephone.</li>
      </ol>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      <p>An Initial Consultation costs £600+VAT and is typically bookable at one week's notice.</p>

      <p>
        <a href="/contact?subject=Initial%20Consultation" class="btn btn-block btn-primary">
          Enquire Now
          <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}