<aside class="job-sidebar">
  <div class="job-details panel panel-gray">
    <div class="panel-body">
      <h4>Key Facts</h4>

      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd class="job-title">{{ include.job.title }}</dd>

        <dt>Company</dt>
        <dd class="job-title">{{ include.job.company }}</dd>

        {% if include.job.level %}
        <dt>Level</dt>
        <dd class="job-level">{{ include.job.level }}</dd>
        {% endif %}
        
        {% if include.job.commitment %}
        <dt>Commitment</dt>
        <dd class="job-commitment">{{ include.job.commitment }}</dd>
        {% endif %}

        {% if include.job.salary %}
        <dt>Salary</dt>
        <dd class="job-salary">{{ include.job.salary }}</dd>
        {% endif %}

        {% if include.job.location %}
        <dt>Location</dt>
        <dd class="job-location">{{ include.job.location }}</dd>
        {% endif %}

        {% if include.job.remote %}
        <dt>Remote</dt>
        <dd class="job-remote">OK<dd>
        {% endif %}

        {% if include.job.summary %}
        <dt>Summary</dt>
        <dd class="job-summary">{{ include.job.summary | markdownify }}</dd>
        {% endif %}
      </dl>

      {% if include.job.instructions %}
      <strong>How to Apply</strong>
      <div class="job-instructions">{{ include.job.instructions | markdownify }}</div>
      <p>
        <a class="btn btn-block btn-info"
           {% if include.job.email %}
           href="mailto:{{ include.job.email }}?subject={{ include.job.title | urlify }}{{ " (via Underscore) " | urlify }}"
           {% endif %}
           {% if include.job.application_url %}
           href="{{ include.job.application_url }}"
           {% endif %}
           >
          Apply Now 
        </a>
      </p>
      {% endif %}
    </div>
  </div>
</aside>
