<div class="blog-sidebar-course-promo"
     data-course-id="{{ include.course.id }}"
     style="background: {{ include.course.color }}">
  <a class="course-title" href="/training/courses/{{ course.id }}/">
    <span class="course-icon icon-uio-{{ include.course.icon }}"></span>
    <span class="course-title-text">
      {{ include.course.title }}
    </span>

    <span class="pull-right">
      <span class="hidden-md">Read more</span>
      <span class="icon-uio-chevron-right"></span>
    </span>
  </a>
</div>
