---
layout: default
title:  Company Information
navbar: company
twitter:
  title: Underscore Company Information
  description: "Contact details, press kit, and logos."
---

{% include hero.html title="Company information" %}

<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <a class="link-anchor" name="contact"></a>
      <h2>Contact us</h2>

      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><a href="mailto:hello@underscore.io">hello@underscore.io</a></dd>

        <dt>Telephone</dt>
        <dd><a href="tel:442030955332" class="tel">+44 (0)20 309 55332</a></dd>

        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/underscoreio">@underscoreio</a></dd>

        <dt>Headquarters</dt>
        <dd>
          <div class="vcard">
            <div class="adr">
              <span class="org fn">
                <span class="organization-name">
                  Underscore
                </span>
              </span><br>
              <span class="extended-address">The Skiff</span><br>
              <span class="street-address">30 Cheapside</span><br>
              <span class="region">Brighton</span>
              <span class="postal-code">BN1 4GD</span><br>
              <span class="country-name">UK</span>
            </div>
          </div>
        </dd>

        <dt>Directions</dt>
        <dd>
          <a target="_new" href="https://www.google.com/maps/place/30+Cheapside,+Brighton+BN1+4GD,+UK/@50.8293337,-0.1406608,17z/data=!3m1!4b1!4m5!3m4!1s0x4875859e03800c0b:0x9e1dc66912fdd215!8m2!3d50.8293337!4d-0.1384721?hl=en">Google Maps</a>
        </dd>

        <dt>Train</dt>
        <dd>The office entrance is in Blackman Street, 5 minutes walk from Brighton station.</dd>

        <dt>Satnav</dt>
        <dd>Use BN1 4FL. There is a car park opposite the office, and at the end of Blackman Street.
        </dd>
      </dl>

      <hr>

      <dl class="dl-horizontal">
        <dt>Registered name</dt>
        <dd>Underscore Consulting LLP</dd>

        <dt>Registered in</dt>
        <dd>England and Wales</dd>

        <dt>Company number</dt>
        <dd>OC371810</dd>

        <dt>VAT number</dt>
        <dd>129297779</dd>

        <dt>DUNS number</dt>
        <dd>21-820-3810</dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <h2>Find us</h2>

      <p>
        Underscore has offices in the UK, US, and Australia.<br>
      </p>

      <img class="map" src="//maps.googleapis.com/maps/api/staticmap?size=410x410&amp;zoom=1&amp;markers=color:red%7C%7C50.827034,-0.136393|34.633018,-117.814121|-33.874492,151.209450&amp;sensor=false">

      <p>All enquiries should be directed to our UK office.</p>
    </div>
  </div>
</section>

<section class="container">
  <a class="link-anchor" name="presskit"></a>
  <h2>Press kit</h2>

  <h3>About Underscore</h3>

  <p>Underscore Consulting is a provider of professional services relating to the Scala programming language. Headquartered in the UK with offices in the US and Australia, we provide a full range of services including consulting on architecture and design, training for all levels of Scala developers, and a complete software development service.</p>

  <p>Underscore was formed to meet a growing demand for Scala professional services, and provide the level of service that large organisations need. Our combined skills give Underscore a depth and breadth of technical expertise in the Scala ecosystem that is unmatched by any other consulting organisation.</p>

  <h3>Logos</h3>

  <p>Click a button below to download an Underscore logo pack. Each file contains a variety of logos in the following formats: <em>Adobe Illustrator (.ai)</em>, <em>Portable Document Format (.pdf)</em>, <em>High-resolution PNG (transparent)</em>, and <em>High-resolution JPG (opaque)</em>:</p>

  <div class="row press-kits">
    <div class="col-sm-4">
      <div class="logo-kit dark">
        <p>
          <img src="/images/press-kit/blue-on-light-thumbnail.png" width="100%">
        </p>

        <p>
          <a href="/images/press-kit/blue-on-light.zip"
            class="btn btn-primary btn-block">
            Download ZIP File
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="logo-kit dark">
        <p>
          <img src="/images/press-kit/orange-on-light-thumbnail.png" width="100%">
        </p>

        <p>
          <a href="/images/press-kit/orange-on-light.zip"
            class="btn btn-primary btn-block">
            Download ZIP File
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="logo-kit light">
        <p>
          <img src="/images/press-kit/white-on-dark-thumbnail.png" width="100%">
        </p>

        <p>
          <a href="/images/press-kit/white-on-dark.zip"
            class="btn btn-primary btn-block">
            Download ZIP File
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <a class="link-anchor" name="partners"></a>
  <h2>Partners</h2>

  <div class="row">
    <div class="col-sm-6">
      <h3>Channing Walton</h3>

      <p>Channing has two decades of software architecture, design and development experience in financial markets, investment banking, internet technologies and academic research. He specialises in agile methods, object oriented programming, and functional programming techniques. Channing has worked with Java since 1995, Scala and LiftWeb since 2008, and also on a number of open source projects. He has also given talks at Skills Matter, ScalaDays 2010, Brunel University and a number of banks on Scala and the Fly Object Space.</p>

      <p>Prior to working in software, Channing obtained a PhD in electronics, and worked at UCL in atmospheric physics and high-speed opto-electronics.</p>
    </div>

    <div class="col-sm-6">
      <h3>Lance Walton</h3>

      <p>Lance Walton has two decades of software architecture, design and development experience in financial markets, investment banking, health provision, internet technologies and academic research. He is a Scrum Master and XP coach, mentor and advisor in Agile Methods of software development and is active in a number of open source projects. Lance has worked with Java since its first release in 1995 and Scala since 2009 and has a particular interest in Object Oriented Analysis and Design, and functional languages. Lance has helped many teams to improve their software development process with the introduction of Agile Methods. He has also successfully combined Agile Methods with 'heavier' process frameworks, such as CMM-I. Lance has a PhD in Neural Networks from the University of Kent and Canterbury.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Miles Sabin</h3>

      <p>Miles has run Scala consultancy Chuusai since 2008 and has worked with Scala since it first became publicly available in 2004. He was responsible for the creation of the open source Scala IDE for Eclipse project and his recent activities include shapeless, which aims to explore the boundaries of what's possible within Scala's type system. He is a regular speaker at Scala, functional programming and JVM related conferences and events.</p>

      <p>Previously Miles was cofounder and CTO of Codefarm Software Ltd. which applied massively parallel stochastic search and constraint satisfaction technology to the optimization of credit derivative portfolios, winning business from Royal Bank of Canada, Deutsche Bank, JP Morgan, Citigroup, Morgan Stanley, UBS and Merrill Lynch.</p>

      <p>Prior to that Miles was a senior software architect leading R&D projects at InterX PLC. As a Java Community Process participant he was a member of the Java NIO and XML API expert groups and contributed the reference implementation of the Java Isolation API. He was a participant in the W3C Document Object Model activity and contributed to the IETF’s Guidelines for The Use of XML within IETF Protocols (BCP 70) and Uniform Resource Identifiers (RFC 3986).</p>

      <p>He holds a BA in Philosophy from University College London and an MPhil in Philosophy from the University of Cambridge.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dan Creswell</h3>

      <p>Dan has been working in the gaming sector since 2007 when he joined Betfair. Whilst there, he built and ran the first agile development team, architected the core infrastructure for their Arcade Games platform and drove a DevOps mentality across the engineering department. He left Betfair to join Sporting Index as Head of Front Office, where he re-defined the architecture for the core trading systems and enacted a 3 year programme of work to make it real. In this same period he moved into the role of CTO with responsibility for Sporting Index's IT and customer-facing systems.</p>

      <p>Before 2007, Dan was involved in several startups, provided international technical consulting on the construction of high load/performance distributed systems and worked for a number of companies in the fields of real-‐time systems, operating systems, telecoms, leisure, healthcare and pharmaceuticals.</p>

      <p>He is also the author of an opensource JavaSpaces implementation, Blitz.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Richard Dallaway</h3>

      <p>Richard has worked as a software engineer and consultant since 1993. He has delivered web, data mining and visualisation projects across the publishing, financial, and manufacturing industries for both corporations and small businesses. He adopted Scala and Lift for the productivity gains the technologies bring, a committer on the Lift project, and author of the <a href="http://shop.oreilly.com/product/0636920029151.do">Lift Cookbook</a> (O'Reilly, 2013). He has a BA in Cognitive &amp; Computing Science and a DPhil in machine learning from the University of Sussex.</p>
    </div>

    <div class="col-sm-6">
      <h3>Jonathan Ferguson</h3>

      <p>Jonathan has over 11 years industry experience delivering JVM-based software for publishers and the travel industry, including high-performance web services.  Along with a focus on Scala and Lift, he is an expert in cloud-based delivery and lean development. He has a BSc in Computer Science from the University of Auckland.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Nigel Warren</h3>

      <p>Nigel is Chief Architect at the Sporting Index Group of Companies and the Architect and project lead on Fly Object Space. He is a Visiting Research Fellow at Brunel University where his main research interests are long running distributed systems and component lifetimes and inter-dependencies. Previously Nigel was the founder and CTO of IntaMission Ltd. and Chief Architect for Europe at Hitachi Software.</p>

      <p>He is the co-author of &quot;Java in Practice&quot; and &quot;JavaSpaces in Practice&quot; in the Addison Wesley Java series and is the lead author of two patents in the field of long running distributed software systems.</p>
    </div>

    <div class="col-sm-6">
      <h3>Noel Welsh</h3>

      <p>Noel has over fifteen years experience in software architecture and development, and over a decade in machine learning and data mining. Examples of the projects he's been involved with include one of the first commercial products to apply machine learning to the Internet (eventually acquired by Omniture), a BAFTA award winning website, and a custom CMS used daily by thousands of students.</p>

      <p>Noel is an active writer, presenter, and open source contributor. Noel has a PhD in machine learning from the University of Birmingham.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dave Gurnell</h3>

      <p>Dave has fifteen years' experience creating software for the web, desktop, and mobile. He has a PhD in artificial intelligence from the University of Birmingham, and has spoken on functional programming topics at numerous conferences, including ICFP, ScalaDays, Scala Exchange, and Scala Lift-Off.</p>
    </div>
  </div>
</section>

{% include footer.html %}
