---
layout: default
title: Company Information
navbar: company
twitter:
  title: Working with Underscore
  description: "About Underscore, contact details, press kit, and logos."
---

{% include hero.html title="Working with Underscore" %}

<section class="container">
  <a class="about-underscore" name="aboutunderscore"></a>
  <h2>About Underscore</h2>

  <p>
    Underscore was created in 2012, uniting independent Scala consultancies sharing
    a common set of values and experiences:
  </p>

  <ul>
    <li>a strong emphasis on functional programming</li>
    <li>the desire to share knowledge and to educate</li>
    <li>track record in delivering working software for enterprises</li>
    <li>and, of course, a love for the Scala programming language</li>
  </ul>
</section>

<section class="container">
  <a class="engaging" name="engaging"></a>
  <h2>Engaging with Underscore</h2>

  <p>
    When you <a href="mailto:hello@underscore.io">contact us</a> to discuss an
    engagement, you’ll have the chance to talk to some of the best in the
    industry. Based on that conversation, we’ll allocate a lead partner to
    develop a proposal, and ultimately deliver the work. The contractual
    engagement will be with that partner, using our common master service
    agreement and schedule of work.
  </p>
</section>

<section class="container">
  <a class="partners" name="partners"></a>
  <h2>Meet the partners</h2>

  <ul>
    <li>Cartographer Studios Ltd (company number 10790632)</li>
    <li>Chuusai Limited (06628997)</li>
    <li>Functional Core Limited (11693194)</li>
    <li>Inner Product Holdings Ltd (11278621)</li>
    <li>Monoidal Limited (09357384)</li>
    <li>Networkgl Limited (08685289)</li>
    <li>Spiral Arm Limited (04899633)</li>
  </ul>

  <p>
    The partners have worked together for the best part of a decade. We also tap
    into our tried-and-tested network of like-minded independent contractors
    when extra hands are needed.
  </p>
</section>

<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <a class="link-anchor" name="contact"></a>
      <h2>Contact us</h2>

      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><a href="mailto:hello@underscore.io">hello@underscore.io</a></dd>

        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/underscoreio">@underscoreio</a></dd>

        <dt>Headquarters</dt>
        <dd>
          <div class="vcard">
            <div class="adr">
              <span class="org fn">
                <span class="organization-name"> Underscore </span> </span
              ><br />
              <span class="extended-address">The Skiff</span><br />
              <span class="street-address">30 Cheapside</span><br />
              <span class="region">Brighton</span>
              <span class="postal-code">BN1 4GD</span><br />
              <span class="country-name">UK</span>
            </div>
          </div>
        </dd>

        <dt>Directions</dt>
        <dd>
          <a
            target="_new"
            href="https://www.google.com/maps/place/30+Cheapside,+Brighton+BN1+4GD,+UK/@50.8293337,-0.1406608,17z/data=!3m1!4b1!4m5!3m4!1s0x4875859e03800c0b:0x9e1dc66912fdd215!8m2!3d50.8293337!4d-0.1384721?hl=en"
            >Google Maps</a
          >
        </dd>

        <dt>Train</dt>
        <dd>
          The office entrance is in Blackman Street, 5 minutes walk from
          Brighton station.
        </dd>

        <dt>Satnav</dt>
        <dd>
          Use BN1 4FL. There is a car park opposite the office, and at the end
          of Blackman Street.
        </dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <h2>Find us</h2>

      <iframe
        width="425"
        height="350"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.13983102631755176%2C50.82825153505339%2C-0.1370683510322124%2C50.830425155344216&amp;layer=transportmap&amp;marker=50.82933835785031%2C-0.13844968867488205"
        style="border: 1px solid black"
      ></iframe
      ><br /><small
        ><a
          href="https://www.openstreetmap.org/?mlat=50.82934&amp;mlon=-0.13845#map=19/50.82934/-0.13845&amp;layers=T"
          >View Larger Map</a
        ></small
      >
    </div>
  </div>
</section>

<section class="container">
  <a class="link-anchor" name="presskit"></a>
  <h2>Press kit</h2>

  <h3>Logos</h3>

  <p>
    Click a button below to download an Underscore logo pack. Each file contains
    a variety of logos in the following formats:
    <em>Adobe Illustrator (.ai)</em>, <em>Portable Document Format (.pdf)</em>,
    <em>High-resolution PNG (transparent)</em>, and
    <em>High-resolution JPG (opaque)</em>:
  </p>

  <div class="row press-kits">
    <div class="col-sm-4">
      <div class="logo-kit dark">
        <p>
          <img
            src="/images/press-kit/blue-on-light-thumbnail.png"
            width="100%"
          />
        </p>

        <p>
          <a
            href="/images/press-kit/blue-on-light.zip"
            class="btn btn-primary btn-block"
          >
            Download ZIP File
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="logo-kit dark">
        <p>
          <img
            src="/images/press-kit/orange-on-light-thumbnail.png"
            width="100%"
          />
        </p>

        <p>
          <a
            href="/images/press-kit/orange-on-light.zip"
            class="btn btn-primary btn-block"
          >
            Download ZIP File
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="logo-kit light">
        <p>
          <img
            src="/images/press-kit/white-on-dark-thumbnail.png"
            width="100%"
          />
        </p>

        <p>
          <a
            href="/images/press-kit/white-on-dark.zip"
            class="btn btn-primary btn-block"
          >
            Download ZIP File
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <a class="link-anchor" name="partners"></a>
  <h2>Principles</h2>

  <div class="row">
    <div class="col-sm-6">
      <h3>Channing Walton</h3>

      <p>
        Channing has two decades of software architecture, design and
        development experience in financial markets, investment banking,
        internet technologies and academic research. He specialises in agile
        methods, object oriented programming, and functional programming
        techniques. Channing has worked with Java since 1995, Scala and LiftWeb
        since 2008, and also on a number of open source projects. He has also
        given talks at Skills Matter, ScalaDays 2010, Brunel University and a
        number of banks on Scala and the Fly Object Space.
      </p>

      <p>
        Prior to working in software, Channing obtained a PhD in electronics,
        and worked at UCL in atmospheric physics and high-speed
        opto-electronics.
      </p>
    </div>

    <div class="col-sm-6">
      <h3>Lance Walton</h3>

      <p>
        Lance Walton has two decades of software architecture, design and
        development experience in financial markets, investment banking, health
        provision, internet technologies and academic research. He is a Scrum
        Master and XP coach, mentor and advisor in Agile Methods of software
        development and is active in a number of open source projects. Lance has
        worked with Java since its first release in 1995 and Scala since 2009
        and has a particular interest in Object Oriented Analysis and Design,
        and functional languages. Lance has helped many teams to improve their
        software development process with the introduction of Agile Methods. He
        has also successfully combined Agile Methods with 'heavier' process
        frameworks, such as CMM-I. Lance has a PhD in Neural Networks from the
        University of Kent and Canterbury.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Miles Sabin</h3>

      <p>
        Miles has run Scala consultancy Chuusai since 2008 and has worked with
        Scala since it first became publicly available in 2004. He was
        responsible for the creation of the open source Scala IDE for Eclipse
        project and his recent activities include shapeless, which aims to
        explore the boundaries of what's possible within Scala's type system. He
        is a regular speaker at Scala, functional programming and JVM related
        conferences and events.
      </p>

      <p>
        Previously Miles was cofounder and CTO of Codefarm Software Ltd. which
        applied massively parallel stochastic search and constraint satisfaction
        technology to the optimization of credit derivative portfolios, winning
        business from Royal Bank of Canada, Deutsche Bank, JP Morgan, Citigroup,
        Morgan Stanley, UBS and Merrill Lynch.
      </p>

      <p>
        Prior to that Miles was a senior software architect leading R&D projects
        at InterX PLC. As a Java Community Process participant he was a member
        of the Java NIO and XML API expert groups and contributed the reference
        implementation of the Java Isolation API. He was a participant in the
        W3C Document Object Model activity and contributed to the IETF’s
        Guidelines for The Use of XML within IETF Protocols (BCP 70) and Uniform
        Resource Identifiers (RFC 3986).
      </p>

      <p>
        He holds a BA in Philosophy from University College London and an MPhil
        in Philosophy from the University of Cambridge.
      </p>
    </div>

    <div class="col-sm-6">
      <h3>Kingsley Davies</h3>

      <p>
        Kingsley has worked as a consultant in a variety of roles and
        organisations since 1999. Initially working as a software engineer for a
        number of financial institutions and startups, he moved into the gaming
        sector in early 2006 as a research and development engineer at Betfair.
        In 2009 he moved into the core architecture team at Betfair working on
        API design, implementation and delivery and advocacy of DevOps mindset
        and functional programming.
      </p>

      <p>
        In 2013, Kingsley moved into consulting, initially as Group Technology
        Director for AKQA where he delivered technology strategy to a range of
        clients and introduced agile practices in a distributed team
        environment. In recent years, Kingsley has continued to speak and
        consult on agile practices, functional programming and microservice
        delivery to several clients across multiple business domains. His
        current interests are around event based and distributed organisations
        and systems.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Richard Dallaway</h3>

      <p>
        Richard has worked as a software engineer and consultant since 1993. He
        has delivered web, data mining and visualisation projects across the
        publishing, financial, and manufacturing industries for both
        corporations and small businesses. He adopted Scala and Lift for the
        productivity gains the technologies bring, a committer on the Lift
        project, and author of the
        <a href="http://shop.oreilly.com/product/0636920029151.do"
          >Lift Cookbook</a
        >
        (O'Reilly, 2013). He has a BA in Cognitive &amp; Computing Science and a
        DPhil in machine learning from the University of Sussex.
      </p>
    </div>

    <div class="col-sm-6">
      <h3>Jonathan Ferguson</h3>

      <p>
        Jonathan has over 11 years industry experience delivering JVM-based
        software for publishers and the travel industry, including
        high-performance web services. Along with a focus on Scala and Lift, he
        is an expert in cloud-based delivery and lean development. He has a BSc
        in Computer Science from the University of Auckland.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Nigel Warren</h3>

      <p>
        Nigel is Chief Architect at the Sporting Index Group of Companies and
        the Architect and project lead on Fly Object Space. He is a Visiting
        Research Fellow at Brunel University where his main research interests
        are long running distributed systems and component lifetimes and
        inter-dependencies. Previously Nigel was the founder and CTO of
        IntaMission Ltd. and Chief Architect for Europe at Hitachi Software.
      </p>

      <p>
        He is the co-author of &quot;Java in Practice&quot; and &quot;JavaSpaces
        in Practice&quot; in the Addison Wesley Java series and is the lead
        author of two patents in the field of long running distributed software
        systems.
      </p>
    </div>

    <div class="col-sm-6">
      <h3>Noel Welsh</h3>

      <p>
        Noel has over fifteen years experience in software architecture and
        development, and over a decade in machine learning and data mining.
        Examples of the projects he's been involved with include one of the
        first commercial products to apply machine learning to the Internet
        (eventually acquired by Omniture), a BAFTA award winning website, and a
        custom CMS used daily by thousands of students.
      </p>

      <p>
        Noel is an active writer, presenter, and open source contributor. Noel
        has a PhD in machine learning from the University of Birmingham.
      </p>
    </div>

    <div class="col-sm-6">
      <h3>Dave Gurnell</h3>

      <p>
        Dave is a passionate advocate of pragmatic functional programming. He is
        co-lead of Underscore's training program and has authored and
        co-authored four books on Scala, including <em>Essential Scala</em>,
        <em>Scala with Cats</em>, <em>Creative Scala</em>, and
        <em>The Type Astronaut's Guide to Shapeless</em>. When he is not
        teaching he is CTO at
        <a href="https://cartographer.io">Cartographer</a>, a Geographical
        Information Systems startup, where he puts principles into practice.
      </p>
    </div>
  </div>
</section>

{% include footer.html %}
