.consulting-step {
  padding-top: @line-height-computed;

  img {
    max-width: 100%;
  }

  .consulting-step-services-title {
    text-transform: uppercase;
    font-weight: 400;
    color: @text-muted;
  }

  .consulting-step-services li {
    font-size: @font-size-base * .9;
    margin: @line-height-computed/4 0;
  }
}

.consulting-testimonial {
  position: relative;
  padding: @line-height-computed*2 0;
  background: @underscore-green;
  color: #fff;
  text-align: center;

  blockquote {
    border: none;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";

    &:before { font-size: 1.2em; content: open-quote;  }
    &:after  { font-size: 1.2em; content: close-quote; }
  }

  .attribution {
    opacity: .95;
  }
}

ol.horizontal li {
  float:left;
  width: 10em;
}

.panel.consulting-products,
.panel.consulting-product-details {
  h2,h3 {
    margin-top: @line-height-computed * .667; // line up sidebar text with page text
  }
}