.consulting-steps {
  margin-bottom: 1em;
}

.consulting-step-logo {
  display: block;
  margin: 0 auto 1em;
  max-width: 40%;
}

.consulting-step-services-title {
  text-transform: uppercase;
  font-weight: 400;
  color: @text-muted;
}

.consulting-step-services li {
  font-size: @font-size-base * .9;
  margin: @line-height-computed/4 0;
}

.consulting-testimonial {
  position: relative;
  padding-top: @line-height-computed*2;
  padding-bottom: @line-height-computed*2 + 30px; // leave extra space for the overlay
  background: @underscore-green;
  color: #fff;
  text-align: center;

  blockquote {
    border: none;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";

    &:before { font-size: 1.2em; content: open-quote;  }
    &:after  { font-size: 1.2em; content: close-quote; }
  }

  .attribution {
    opacity: .95;
  }
}

ol.horizontal li {
  float:left;
  width: 10em;
}

.panel.consulting-contact {
  h2, h3 {
    margin-top: 0; // line up sidebar text with page text
  }
}

.case-studies-title {
  text-align: center;
  margin: .5em auto;
}

.case-study-title {
  margin-top: 0;
}

.case-study-logo {
  display: block;
  margin: 0 auto 1em;
  width: 100%;
}
