.event-listing {
  h2 {
    text-align: center;
    margin: @line-height-computed 0;
  }
}

.event-excerpt {
  margin-bottom: 30px;

  h3 {
    margin: 0;
    font-size: 1.1 * @font-size-base;
    .clearfix();
  }

  .event-date {
    display: inline-block;
    font-weight: bold;
    margin-right: @padding-base-horizontal;
  }

  .event-icon { margin-left: @padding-base-horizontal; }
  .event-location { margin-left: @padding-base-horizontal; }

  .event-meta {
    .clearfix();
    margin: 0 0 @line-height-computed / 2;

    dt, dd {
      float: left;
      margin-right: 1ex;
    }

    dt { font-weight: 200; }
    dd { font-weight: 400; }
  }

  &:hover {
    cursor: pointer;
    box-shadow: @shadow-active;
    .panel-body,
    .panel-footer {
      background: darken(@gray-lighter, 4%);
    }
  }
}

.event-sidebar {
  dl { margin-bottom: 0.5*@line-height-computed; }
  dt { width: 80px; }
  dd { @media (min-width: 768px) { margin-left: 100px; } }
}
