@home-hero-height: @line-height-computed * 22; // 660px
@home-hero-padding: @line-height-computed * 8;
@home-hero-arrow-height: 20px;

@home-panel-padding: @line-height-computed;

html.home {
  .navbar-standard {
    transition: top 250ms linear;
    top: -2*@navbar-height;
    &.active { top: 0; }
  }

  .navbar-standard-spacer {
    display: none;
  }
}

.home-hero {
  position: relative;
  width: 100%;
  height: 75vh;
  min-height: 320px;
  max-height: 640px;

  background-color: @underscore-blue;
  background-image: url(/images/home/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // background-attachment: fixed;

  .navbar {
    position: relative;
    z-index: 5;
  }

  .home-hero-left-overlay,
  .home-hero-right-overlay,
  .home-hero-arrow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  .home-hero-right-overlay {
    z-index: 1;
    background-image: url(/images/home/hero-right-overlay.svg);
    background-position: right bottom;
  }

  .home-hero-left-overlay {
    z-index: 2;
    background-image: url(/images/home/hero-left-overlay.svg);
    background-position: left top;
  }

  .home-hero-arrow-overlay {
    top: auto;
    bottom: -10px;
    height: 40px;
    z-index: 3;
    background-image: url(/images/home/hero-arrow-overlay.svg);
    background-position: center bottom;
  }

  .home-hero-text {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -115px;
    z-index: 4;

    text-align: center;
    vertical-align: center;
    color: #ffffff;

    h1 { text-transform: lowercase; }
    h2 { font-weight: 200; }
  }
}

.home-panel {
  position: relative;
  padding: @home-panel-padding 0;
}

.home-training,
.home-consulting {
  text-align: center;

  .home-panel-title,
  .home-panel-cta {
    margin: @line-height-computed * 1.2 0 @line-height-computed * .8;
  }
}

.home-consulting {
  background: @underscore-green;
  color: #fff;

  .home-consulting-top-overlay {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 3;
    background-image: url(/images/home/consulting-top-overlay.svg);
    background-position: center bottom;
    background-size: cover;
  }

  .home-consulting-bottom-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 30px;
    z-index: 3;
    background-image: url(/images/home/consulting-bottom-overlay.svg);
    background-position: center top;
    background-size: cover;
  }
}

.home-blog {
  @section-color: #fff;
  @section-bg: #222;
  @section-link-color: lighten(@link-color, 15%);
  @section-hover-bg: rgba(255, 255, 255, 0.05);
  @paddle-label-font-size: 2*@line-height-computed;

  color: @section-color;
  background: @section-bg;
  a { color: @section-link-color; }

  .home-panel-title {
    text-align: center;
  }

  .home-blog-posts {
    padding-top: 1px; // hack to ensure title margin doesn't extend above the box

    .blog-post {
      display: none;

      code {
        color: #fff;
        background: #444;
      }
    }

    .blog-post-meta {
      dt { color: #ddd; }
      dd { color: #bbb; }
    }

    &:hover {
      background: @section-hover-bg;
      cursor: pointer;
    }
  }

  .home-blog-paddle {
    display: block;
    position: relative;

    // background: rgba(255, 255, 255, 0.01);
    color: #777;

    &:hover {
      background: @section-hover-bg;
      color: #aaa;
    }
  }

  .home-blog-paddle-label {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    height: @paddle-label-font-size;
    margin-top: -0.5 * @paddle-label-font-size;

    text-align: center;
    font-size: @paddle-label-font-size;
    line-height: @paddle-label-font-size;
  }

  .home-blog-mobile-pager {
    .visible-xs();
    margin-top: @line-height-computed;
  }
}