.training-overview {
  .course-type-promo {
    text-align: center;
    font-size: 4em;
  }
}

.training-course-directory {
  h2 {
    margin: @line-height-computed 0;
    text-align: center;
  }

  .panel-course-excerpt {
    box-shadow: @shadow-default;
    background: @gray-lighter;

    .panel-heading {
      background: @gray-light;
      color: #fff;
      h4 {
        margin: 0;
        .course-title {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .panel-body {
      padding-top: @line-height-computed;
      padding-bottom: @line-height-computed*0.75;
    }

    .panel-footer {
      .clearfix();

      border-top: none;
      padding-top: 0;
      padding-bottom: @line-height-computed*0.25;
      background: none;
      color: @gray-light;

      .course-book {
        position: relative;
        float: left;
        top: .3em;
      }

      .course-media {
        float: right;
        font-size: 1.2em;
      }
    }

    .course-icon {
      float: right;
    }

    dl.course-meta {
      margin: 0;
      text-align: center;

      dt:before {
        content: "";
        display: block;
      }
      dt, dd {
        display: inline;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: @shadow-active;
      .panel-body,
      .panel-footer {
        background: darken(@gray-lighter, 4%);
      }
    }
  }

  .suggest-course {
    padding: 1.5*@line-height-computed 0;
    margin-bottom: @line-height-computed;
  }
}

.course-sidebar {
  padding-top: @line-height-computed * 2.25;

  .product-points {
    li {
      font-size: .9em;
      margin-bottom: @line-height-computed/2;
    }
  }
}