
.training-course-directory {
  h2 {
    margin: @line-height-computed 0;
    text-align: center;
  }

  .panel-course-excerpt {
    box-shadow: @shadow-default;
    background: @gray-lighter;

    .panel-heading {
      background: @gray-light;
      color: #fff;
      h4 { margin: 0; }
    }
  }

  .suggest-course {
    padding: 2*@line-height-computed 0;
    margin-bottom: @line-height-computed;
  }
}
