.training-formats {
  h2 {
    text-align: center;
  }

  .format-category-title {
    margin-top: 0;
    text-align: center;
  }

  .format-title {
    margin-top: 0;
  }

  .format-overview {
    font-size: .9em;
    p:last-child { margin-bottom: 0; }
  }

  .format-icon {
    text-align: center;
    font-size: 4em;
    margin-bottom: @line-height-computed/2;
  }

  .format-features ul {
    .list-unstyled();
    li {
      font-size: .8em;
      margin-bottom: @line-height-computed/2;
    }
  }
}

.panel.panel-gray {
  background: @gray-lighter;
  box-shadow: @shadow-default;
}

.training-course-directory {
  h2 {
    margin: @line-height-computed 0;
    text-align: center;
  }

  .course-excerpt {
    box-shadow: @shadow-default;
    background: @gray-lighter;

    .course-title {
      margin: 0;
      .course-title-text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .panel-footer {
      .clearfix();

      border-top: none;
      padding-top: 0;
      padding-bottom: @line-height-computed*0.25;
      background: none;
      color: @gray-light;

      .course-book {
        position: relative;
        float: left;
        top: .3em;
      }

      .course-media {
        float: right;
        font-size: 1.2em;
      }
    }

    .course-icon {
      float: right;
    }

    dl.course-meta {
      margin: 0;
      text-align: center;

      dt {
        display: inline;
        font-weight: 200;
        &:before {
          content: "";
          display: block;
        }
      }

      dd {
        display: inline;
        font-weight: 400;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: @shadow-active;
      .panel-body,
      .panel-footer {
        background: darken(@gray-lighter, 4%);
      }
    }
  }

  .suggest-course {
    padding: 1.5*@line-height-computed 0;
    margin-bottom: @line-height-computed;
  }
}

.course-hero {
  color: white;

  .course-formats {
    z-index: 4;
    color: @text-color;
    margin-bottom: @line-height-computed;

    h3 { margin-top: 0; }

    font-size: .9em;

    @media (min-width: @grid-float-breakpoint) {
      .format-overview {
        height: 5*@line-height-computed;
      }
    }
  }
}

.course-sidebar {
  padding-top: @line-height-computed * 2.25;

  .product-points {
    li {
      font-size: .9em;
      margin-bottom: @line-height-computed/2;
    }
  }
}
