---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Team Mentoring" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Faster Progress for Your Team</h2>

      <p>
        With any new technology your team will pick up idioms, best practices, and tricks as they go.
        <strong>Mentoring speeds up this process</strong>, by having experienced developers regularly pair with your team.
      </p>

      <p>
        Mentoring will help your team address the problems they face using the best of Scala,
        including functional programming concepts.
      </p>

      <p>
        By <strong>pairing with an experienced developer</strong>, your team will also gain insights into the
        wide range of libraries and frameworks used in the Scala ecosystem.
      </p>

      <p>
      As further support, we provide each developer we mentor with access to the complete catalogue of Underscore training material.
      </p>

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h3>What is Pairing?</h3>

      <p>
      Pair Programming involves two developers working together
      on a task, giving:
      </p>

      <ul>
        <li>Knowledge transfer</li>
        <li>Higher quality design</li>
        <li>Less defects</li>
        <li>Increased team engagement</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>What You Can Expect</h3>

      <p>
        Pairing needs to occur frequently to make a lasting difference.
        Team Mentoring is per-pair, and is for one hour every working day for a month.
      </p>

      <ol>
        <li>Each day the team pair. One half is an Underscore consultant, the other is one of your team members.</li>
        <li>This is remote, via video and audio Google Hangouts or Screen Hero.</li>
        <li>The session is driven by the needs and questions of your team member.</li>
        <li>The content may involve discussion, coding, exploration, joint problem solving, tooling, and documentation. </li>
        <li>Each week we report back to you relevant findings and suggestions.</li>
      </ol>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      <p>Team Mentoring is $8,500 per pair, per month.</p>

      <p>
        <a href="/contact?subject=Team%20Mentoring" class="btn btn-block btn-primary">
          Enquire Now
          <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}