---
layout: default
title:  Case Studies - Engineering and Consulting
navbar: consulting
---

{% include hero.html title="Engineering and Consulting Case Studies" %}

<section class="container case-study-directory">
  <article>

  {% for study in site.data.caseStudies %}
  <div class="row case-study">
    <div class="col-md-7">
      <h3>{{ study.title }}</h3>
      {{ study.description }}
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="panel panel-gray">
        <div class="panel-body">
          <img class="case-study-logo"
                 src="{{ study.logo }}"
                 alt="{{ study.title }}">
          <dl>
            <dt>Sector</dt>
              <dd>{{ study.sector }}</dd>
            <dt>Role</dt>
              <dd>{{ study.role }}</dd>
            <dt>Technology</dt>
              <dd>{{ study.tech }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <hr>
  {% endfor %}

  </article>
</section>

<script>
  uio.caseStudies.init(".case-study-directory")
</script>


{% include footer.html %}
