<footer>
  <div class="container">
    <div class="text-center">
      <img class="footer-brand" src="/images/common/footer-brand.png" alt="Underscore">
    </div>

    <div class="row sitemap">
      <div class="col-xs-3">
        <h5>Consulting</h5>
        <ul class="list-unstyled">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h5>Training</h5>
        <ul class="list-unstyled">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h5>Blog</h5>
        <ul class="list-unstyled">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>
    </div>

    <p class="copyright text-center">
      Copyright 2014 Underscore Consulting LLP. All rights reserved.
    </p>
  </div>
</footer>
