<footer>
  <div class="container">
    <div class="text-center">
      <img class="footer-brand" src="/images/common/brand.svg" alt="Underscore" width="200px">
    </div>

    <div class="row sitemap">
      <div class="col-xs-4">
        <h5><a href="/">Underscore</a></h5>
        <ul class="list-unstyled">
          <li><a href="/consulting">Our Services</a></li>
          <li><a href="/company#contact">Contact us</a></li>
          <li><a href="/company#presskit">Press Kit</a></li>
          <li><a href="/company#partrers">Partners</a></li>
        </ul>
      </div>

      <div class="col-xs-4">
        <h5><a href="/traiing">Courses and Training</a></h5>
        <ul class="list-unstyled">
          <li><a href="/training/booking.html">Book a Private Course</a></li>
          <li><a href="/training/courses/essential-scala/">Essential Scala</a></li>
          <li><a href="/training/courses/essential-scalaz/">Essential Scalaz</a></li>
          <li><a href="/training/courses/essential-play/">Essential Play</a></li>
        </ul>
      </div>

      <div class="col-xs-4">
        <h5><a href="/blog">Latest Blog Posts</a></h5>
        <ul class="list-unstyled">
        <ul class="list-unstyled">
          {% for post in site.posts | limit:4 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        </ul>
      </div>
    </div>

    <p class="copyright text-center">
      Copyright 2011-{{ site.time | date:"%y" }} Underscore Consulting LLP. All rights reserved.
    </p>
  </div>
</footer>
