{% include navbar.html class="navbar-fixed" %}

<div class="hero">
  <div class="overlay-gem-left-black hero-overlay-soft"></div>
  <div class="overlay-gem-right-black hero-overlay-soft"></div>
  <div class="overlay-arrow-white-inverse"></div>

  {% include navbar.html %}

  <header class="hero-text">
    <div class="container">
      {% if include.backLink %}
        <h1>
          <a class="back-link" href="{{ include.backLink }}">
            {{ include.title }}
            <span class="icon-uio-back"></span>
          </a>
        </h1>
      {% else %}
        <h1>{{ include.title }}</h1>
      {% endif %}
    </div>
  </header>
</div>
