<nav class="navbar {% if page.navbarClass %}{{ page.navbarClass }}{% else %}navbar-default{% endif %}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="sr-only">Underscore</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="navbar-home"       href="/">           Home       </a></li>
        <li><a id="navbar-training"   href="/training">   Training   </a></li>
        <li><a id="navbar-consulting" href="/consulting"> Consulting </a></li>
        <li><a id="navbar-blog"       href="/blog">       Blog       </a></li>
        <li><a id="navbar-company"    href="/company">    Company    </a></li>
      </ul>
    </div>
  </div>
</nav>
