body {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

.hero {
  margin-bottom: 20px;
}

.hero-left-overlay-white,
.hero-left-overlay-black,
.hero-right-overlay-white,
.hero-right-overlay-black,
.hero-arrow-overlay-white {
  display: none !important;
}