// General --------------------------------------

.ie8-hide {
  display: none !important;
}

.ie8-block {
  display: block !important;
}

.navbar-nav > li > a {
  background: transparent !important;
}

.navbar-nav > li:hover > a {
  background: transparent !important;
}

.navbar-nav > li:focus > a {
  background: transparent !important;
}

.navbar-nav > li.active > a {
  background: transparent !important;
  font-weight: bold;
}

footer .sitemap h5,
footer .sitemap li {
  text-align: center;
}

// Home page ------------------------------------

.customer-logos {
  max-width: 640px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Company ---------------------------------------

.press-kits {
  max-width: 320px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}