html.landing {
  .navbar {
    background: transparent;
  }

  .hero {
    background-color: @underscore-base2;
    background-image: url(/images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    color: @underscore-text2;

    .lead {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .promo.band {
    padding: (1.5 * @line-height-computed) 0;
    background: @underscore-base3;
    color: @underscore-text3;

    h2 {
      text-align: center;
      margin-bottom: @line-height-computed;
    }

    .row {
      .description {
        padding: @line-height-computed;
        background: #333;

        > :first-child {
          margin-top: 0;
        }
      }
    }
  }

  .mentoring.band {
    background-color: @underscore-base2;
  }

  .consulting.band {
    background-color: @underscore-base3;
    color: @underscore-text3;
  }
}
