.navbar {
  background: transparent !important;
}

.navbar > .container .navbar-brand {
  display: block;
  position: relative;
  top: 44px;
  left: @navbar-padding-horizontal;

  width: 60px;
  height: 30px;
  padding: 0;

  background-size: auto 30px;
  background-image: url(/images/underscoreio-text1.svg);
}

.navbar.navbar-inverse > .container .navbar-brand {
  background-image: url(/images/underscoreio-white.svg);
}
