<div class="panel panel-gray course-excerpt" data-course-id="{{ include.course.id }}">
  <div class="panel-heading" style="background: {{ include.course.color }}">
    <h4 class="course-title">
      <span class="course-icon icon-uio-{{ include.course.icon }}"></span>
      <span class="course-title-text">
        {{ include.course.title }}
      </span>
    </h4>
  </div>

  <div class="panel-body">
    <dl class="course-meta">
      <dt>Level</dt>  <dd>{{ include.course.courseDirectory.level  }}</dd>
      <dt>Length</dt> <dd>{{ include.course.courseDirectory.length }}</dd>
    </dl>
  </div>

  <div class="panel-footer">
    <a class="course-book" href="/training/courses/{{ include.course.id }}/">
      {% if include.course.courseDirectory.buttonLabel %}
        {{ include.course.courseDirectory.buttonLabel }}
      {% else %}
        Learn more
      {% endif %}
      <span class="icon-uio-chevron-right"></span>
    </a>

    <div class="course-media">
      {% if include.course.courseDirectory.icons contains "book" %}<span class="icon-uio-book"></span>{% endif %}
      {% if include.course.courseDirectory.icons contains "video" %}<span class="icon-uio-video"></span>{% endif %}
      {% if include.course.courseDirectory.icons contains "public" %}<span class="icon-uio-public"></span>{% endif %}
      {% if include.course.courseDirectory.icons contains "private" %}<span class="icon-uio-private"></span>{% endif %}
    </div>
  </div>
</div>
