<div class="panel panel-gray course-excerpt" data-course-id="{{ include.course.id }}">
  <div class="panel-heading" style="background: {{ include.course.color }}">
    <h4 class="course-title">
      <span class="course-icon icon-uio-{{ include.course.icon }}"></span>
      <span class="course-title-text">
        {{ include.course.title }}
      </span>
    </h4>
  </div>

  <div class="panel-body">
    <dl class="course-meta">
      <dt>Level</dt>  <dd>{{ include.course.level  }}</dd>
      <dt>Length</dt> <dd>{{ include.course.length }}</dd>
    </dl>
  </div>

  <div class="panel-footer">
    {% if course.media.icons contains "onsite" %}
    <a class="course-book" href="/enquiries.html?course={{ include.course.id }}">
      Book now
      <span class="fa fa-chevron-right"></span>
    </a>
    {% endif %}

    <div class="course-media">
      {% if include.course.media.icons contains "book" %}<span class="icon-uio-book"></span>{% endif %}
      {% if include.course.media.icons contains "video" %}<span class="icon-uio-video"></span>{% endif %}
      {% if include.course.media.icons contains "onsite" %}<span class="icon-uio-onsite"></span>{% endif %}
    </div>
  </div>
</div>
