<div class="panel panel-default">
  <div class="panel-heading">
    On-site and Online Courses
  </div>

  <div class="panel-body">
    <p>Privately booked courses can be run on-site or online:</p>

    <p>
      <em>Onsite courses</em> are taught intensively at your offices over one or two days.
      Our trainers cover everything face-to-face with your team in one sitting.
    </p>

    <p>
      <em>Online courses</em> are run a little a day over several days.
      Our trainers cover the material via video chat, and you complete coursework on Github.
      We give every participant one-on-one feedback via code review.
    </p>
  </div>
</div>
