{% comment %}
  class: string
  product: {
    type: "public"
    title: string
    buttonLabel: optional(string)
  }
{% endcomment %}

<div class="{{ include.class || "col-sm-6" }} course-product">
  <h4>{{ include.product.title }}</h4>
  <div class="course-product-description">
    <p>We run public courses online and at locations around the world. Check our <a href="/events">events calendar</a> for the next scheduled course.</p>
  </div>
  <p class="course-product-purchase">
    <a class="btn btn-warning btn-block" href="/events">
      {% if include.product.buttonLabel %}
        {{ include.product.buttonLabel }}
      {% else %}
        View upcoming events
      {% endif %}
    </a>
  </p>
</div>
