<div class="panel panel-default">
  <div class="panel-heading">
    Public and Private Courses
  </div>

  <div class="panel-body">
    <dl class="course-meta">
      <dt>Length</dt><dd>{{ include.course.courseDirectory.length }}</dd>
      <dt>Level</dt><dd>{{ include.course.courseDirectory.level }}</dd>
    </dl>

    <p>
      We run <em>public courses</em> online every few months. Public courses are open to all.
      <a href="/contact.html?subject=When%20is%20the%20next%20public%20{{ include.course.title | urlencode }}%20course?">Get in touch</a> to find out when the next course is scheduled
      if a date is not listed above.
    </p>

    <p>
      <em>Private courses</em> are run exclusively for your team. You have complete control over the
      syllabus and schedule---let us know your custom requirements on the booking form and we'll customise the
      material appropriately.
    </p>
  </div>
</div>
