---
layout: default
---

{% include navbar.html class="navbar-fixed" %}

<div class="hero course-hero" style="background: {{ page.color }}">
  <div class="overlay-gem-left-white"></div>
  <div class="overlay-gem-right-white"></div>
  <div class="overlay-arrow-white-inverse"></div>

  {% include navbar.html class="navbar-inverse" %}

  <header class="hero-text">
    <div class="container">
      <h1>
        <a class="back-link" href="/training">
          {{ page.title }}
          <span class="icon-uio-back"></span>
        </a>
      </h1>

      {% if page.customHeader %}
        {{ page.customHeader | markdownify }}
      {% elsif page.products.size > 0 %}
        {% if page.products.size == 1 %}
          {% assign categoryClass = "col-md-8 col-md-offset-2" %}
        {% else %}
          {% assign categoryClass = "col-md-6" %}
        {% endif %}

        <div class="row course-products">
          {% if page.products.selfDirected %}
            <div class="{{ categoryClass }}">
              <div class="panel">
                <div class="panel-body">
                  {% comment %}
                  <h3>Self-Directed Learning</h3>
                  {% endcomment %}

                  {% if page.products.selfDirected.size == 1 %}
                    {% assign productClass = "col-sm-12" %}
                  {% else %}
                    {% assign productClass = "col-sm-6" %}
                  {% endif %}

                  <div class="row">
                    {% for productPair in page.products.selfDirected %}
                      {% assign product = productPair[1] %}
                      {% include training/product.html course=page product=product class=productClass %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if page.products.instructorLed %}
            <div class="{{ categoryClass }}">
              <div class="panel">
                <div class="panel-body">
                  {% comment %}
                  <h3>Self-Directed Learning</h3>
                  {% endcomment %}

                  {% if page.products.instructorLed.size == 1 %}
                    {% assign productClass = "col-sm-12" %}
                  {% else %}
                    {% assign productClass = "col-sm-6" %}
                  {% endif %}

                  <div class="row">
                    {% for productPair in page.products.instructorLed %}
                      {% assign product = productPair[1] %}
                      {% include training/product.html course=page product=product class=productClass %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </header>
</div>

{% if page.banner %}
<div class="container course-banner">
  <div class="alert alert-danger text-center">
    {{ page.banner | markdownify | liquidify }}
  </div>
</div>
{% endif %}

<section class="container">
  <div class="row">
    <div class="col-sm-8{% if page.coursePage.showSidebar %}{% else %} col-sm-offset-2{% endif %}">
      <article class="course-content">
        {{ content }}
      </article>
    </div>
    {% if page.coursePage.showSidebar %}
    <div class="col-sm-4">
      <aside class="course-sidebar">
        {% if page.products.instructorLed %}
        {% include training/public-private.html course=page %}
        {% include training/online-onsite.html course=page %}
        {% endif %}
      </aside>
    </div>
    {% endif %}
  </div>
</section>

{% include footer.html %}