---
layout: default
navbar: blog
---

{% include hero.html title="Blog" %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <section class="blog-post" data-post-url="{{ page.url }}">
        <h2 class="blog-post-title">{{ page.title }}</h2>

        {% include blog/meta.html post=page %}

        <article class="blog-post-content">
          {{ content }}
        </article>
      </section>
    </div>

    <div class="col-md-4">
      <div class="sidebar">
        {% include blog/archives.html %}
      </div>
    </div>
  </div>
</div>
