---
layout: default
navbar: blog
---

{% include hero.html title="Blog" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <section class="blog-post" data-post-url="{{ page.url }}">
        <h2 class="blog-post-title">{{ page.title }}</h2>

        {% include blog/meta.html post=page %}

        <article class="blog-post-content">
          {{ content }}
        </article>
      </section>
    </div>

    <div class="col-md-4">
      <aside class="blog-sidebar">
        {% include blog/newsletter.html %}

        {% include blog/archives.html %}
      </aside>
    </div>
  </div>
</section>
