---
layout: default
title: Past Events
navbar: events
twitter:
  title: Past Underscore Events
  description: "Past talks, conferences, meetups, and training courses by Underscore."
---

{% include hero.html title="Past Events" backLink="/events" %}

<section class="container event-listing">
  <article>
    {% assign pastEvents = site.events | where_past:'date' | sort_by:'date' %}

    {% for event in pastEvents %}
      {% include events/excerpt.html event=event %}
    {% endfor %}

    {% include events/empty.html pastLink=false %}
  </article>
</section>

<script>
  uio.eventListing.init(".event-listing")
</script>

{% include footer.html %}
