---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Review & Improve" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">

      </div>
    </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Review early. Review often.</h2>

      <p>
      Review can give you assurance your team is on the
      right path, or highlight concerns you should
      be aware of.
      </p>

      <p>
      Start a review as early as you can to avoid accumulating bad practices and technical debt.
      Our <strong>Review Report</strong> highlights what we have found in your code, along with recommendations.
      </p>

      <p>
      Review is a good start of a quality process, but it is just the start. Our Review & Improve Service recognizes this by
      including <strong>hands-on assistance</strong>.  This can be in the form of taking part in pull request
      reviews, pair programming, on-line Q&A, deep-dives into specific topics.
      </p>

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>What is code review?</h2>

      Put simply, it is an independent inspection
      of Scala source code.

      Reviews focus on:

      <ul>
        <li>quality</li>
        <li>maintainability</li>
        <li>improvements</li>
        <li>idiomatic Scala usage</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h2>What you can expect</h2>

      There are four phases to the review:

      <ol>
        <li> A conversation to understand your key concerns.</li>
        <li> The independent code review itself, leading to the Review Report.</li>
        <li> Discuss items from the report and plan the form of support required.</li>
        <li> Implement the support, which includes one day per week from our consultants, for a month.</li>
      </ol>

     The Review Report is structured into three sections:
      <ul>
        <li> Main findings—summarizing and explaining key concerns.</li>
        <li> Recommendations—actions to take to address the findings.</li>
        <li> Detailed findings—to give your team specific examples from the code base.</li>
      </ul>

      The initial review process takes typically two weeks from first discussion to report.
      All activities are on-line, unless otherwise agreed.
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      Review & Improve is $12,000, including
      the review report and one month of support.

      <p>
        <a href="/NEED-A-FORM" class="btn btn-block btn-primary">
         Make an Enquiry
        <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}