---
layout: default
title:  Scala Consulting, Support, and Mentoring
navbar: consulting
---

{% include hero.html title="Review &amp; Improve" %}

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Review Early. Review Often.</h2>

      <p>
      Review gives you assurance your team is on the right path,
      and highlights any concerns you should be aware of.
      </p>

      <p>
      Start reviewing early to avoid accumulating bad practices and technical debt.
      Our <strong>Review Report</strong> highlights our findings
      and provides recommendations.
      </p>

      <p>
      Review is only the start of a good quality process.
      Our Review &amp; Improve Service recognizes this by
      including <strong>hands-on assistance</strong>
      in the form of pull request reviews, pair programming,
      on-line Q&amp;A, and deep-dives into specific topics.
      </p>

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h3>What is Code Review?</h3>

      <p>An independent inspection of Scala source code focusing on:</p>

      <ul>
        <li>quality</li>
        <li>maintainability</li>
        <li>improvements</li>
        <li>idiomatic Scala usage</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>What You Can Expect</h3>

      <p>Review &amp; Improve is delivered in four phases:</p>

      <ol>
        <li> A conversation to understand your key concerns.</li>
        <li> A detailed code review leading to a Review Report.</li>
        <li> A discussion of the report leading to a Support Plan.</li>
        <li> One month of ongoing support from our consultants.</li>
      </ol>

      <p>The Review Report is structured into three sections:</p>

      <ul>
        <li> Main Findings&mdash;summarizing and explaining key concerns.</li>
        <li> Recommendations&mdash;to address the findings.</li>
        <li> Detailed Findings&mdash;to give your team specific examples from the code base.</li>
      </ul>

      <p>
      The initial review process takes two weeks from first discussion to report.
      Support will average one day per week (32 hours total).
      All activities are on-line, unless otherwise agreed.
      </p>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <h2>How to Start</h2>

      <p>Review &amp; Improve is $12,000,
      including the Review Report and one month of support.</p>

      <p>
        <a href="/contact?subject=Review%20and%20Improve" class="btn btn-block btn-primary">
          Enquire Now
          <span class="icon-uio-chevron-right"></span>
        </a>
      </p>
    </div>
  </div>

</section>

{% include footer.html %}